{"openapi": "3.0.0", "info": {"title": "Moralis Universal API \ud83d\udea7", "description": "This API is in early access and is subject to change.", "version": "1.0"}, "externalDocs": {"description": "Moralis API Docs", "url": "https://docs.moralis.com"}, "servers": [{"url": "https://api.moralis.com"}], "paths": {"/v1/chains/{chainAlias}/wallets/{publicKey}/addresses": {"get": {"description": "Returns all derived addresses and their transfer counts for a given Bitcoin xpub key.", "operationId": "getAddressesByXpub", "parameters": [{"name": "publicKey", "required": true, "in": "path", "description": "The Bitcoin extended public key (xpub)", "examples": {"xpub": {"value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"}}, "schema": {"type": "string"}}, {"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["bitcoin-mainnet", "bitcoin"]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetAddressesByXpubResponseDto"}}}}}, "summary": "Get derived addresses from a Bitcoin extended public key (xpub).", "tags": ["Bitcoin"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/blocks/{blockIdentifier}": {"get": {"description": "Returns full block data including transactions, logs, token transfers, and internal transactions for a given chain and block number or block hash.", "operationId": "getBlockByNumberOrHash", "parameters": [{"name": "blockIdentifier", "required": true, "in": "path", "description": "The block number (integer) or block hash (hex string) to retrieve. All-digit values are interpreted as block heights. Any other value is forwarded as a hash.", "examples": {"ethereumByNumber": {"summary": "Ethereum block 21000000", "value": 21000000}, "bitcoinByNumber": {"summary": "Bitcoin block 800000", "value": 800000}, "bitcoinByHash": {"summary": "Bitcoin block by hash", "value": "000000000000000000071c5f742e2f4756479a517c90e1a48082e85a9e0f35e3"}, "evmByHash": {"summary": "EVM block by hash", "value": "0x4e3a3754410177e6937ef1f84bba68ea139e8d1a2258c5f85db9f1cd715a1bdd"}}, "schema": {"type": "string"}}, {"name": "enrich", "required": false, "in": "query", "description": "Master switch for ABI decoding enrichment (method labels, decoded logs, decoded input). Defaults to false.", "schema": {"default": false, "type": "boolean"}}, {"name": "includeMethodLabel", "required": false, "in": "query", "description": "Include method labels on transactions (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "decodeInput", "required": false, "in": "query", "description": "Decode transaction input data (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "decodeLogs", "required": false, "in": "query", "description": "Decode log events (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "includedTopicZeros", "required": false, "in": "query", "description": "Whitelist logs by topic0 (comma-separated hex values).", "schema": {"type": "string"}}, {"name": "excludeFields", "required": false, "in": "query", "description": "Fields to exclude from response (comma-separated: logs, internalTransactions, tokenTransfers, etc.).", "schema": {"type": "string"}}, {"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x89", "polygon", "bitcoin-mainnet", "bitcoin"]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"oneOf": [{"$ref": "#/components/schemas/EvmBlockDto"}, {"$ref": "#/components/schemas/BitcoinBlockDto"}, {"$ref": "#/components/schemas/SolanaBlockDto"}], "discriminator": {"propertyName": "chainFamily", "mapping": {"EVM": "#/components/schemas/EvmBlockDto", "Bitcoin": "#/components/schemas/BitcoinBlockDto", "Solana": "#/components/schemas/SolanaBlockDto"}}}}}}}, "summary": "Get a block by chain and block number or hash", "tags": ["Blocks"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/transactions/{txHash}": {"get": {"description": "Returns full transaction data including logs, token transfers, and internal transactions for a given chain and transaction hash.", "operationId": "getTransactionByHash", "parameters": [{"name": "txHash", "required": true, "in": "path", "description": "The transaction hash to retrieve", "examples": {"ethereum": {"summary": "Ethereum transaction hash", "value": "0xabc123def456abc123def456abc123def456abc123def456abc123def456abc1"}}, "schema": {"type": "string"}}, {"name": "enrich", "required": false, "in": "query", "description": "Master switch for ABI decoding enrichment (method labels, decoded logs, decoded input). Defaults to false.", "schema": {"default": false, "type": "boolean"}}, {"name": "includeMethodLabel", "required": false, "in": "query", "description": "Include method labels on the transaction (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "decodeInput", "required": false, "in": "query", "description": "Decode transaction input data (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "decodeLogs", "required": false, "in": "query", "description": "Decode log events (overrides enrich).", "schema": {"type": "boolean"}}, {"name": "includedTopicZeros", "required": false, "in": "query", "description": "Whitelist logs by topic0 (comma-separated hex values).", "schema": {"type": "string"}}, {"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x89", "polygon", "bitcoin-mainnet", "bitcoin"]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"oneOf": [{"$ref": "#/components/schemas/EvmTransactionDto"}, {"$ref": "#/components/schemas/BitcoinTransactionDto"}, {"$ref": "#/components/schemas/SolanaTransactionDto"}], "discriminator": {"propertyName": "chainFamily", "mapping": {"EVM": "#/components/schemas/EvmTransactionDto", "Bitcoin": "#/components/schemas/BitcoinTransactionDto", "Solana": "#/components/schemas/SolanaTransactionDto"}}}}}}}, "summary": "Get a transaction by chain and transaction hash", "tags": ["Transactions"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/pairs/{pairAddress}/ohlcv": {"get": {"description": "Get OHLCV (Open, High, Low, Close, Volume) candlestick data for a specific pair address.", "operationId": "getCandleSticks", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche"]}}, {"name": "pairAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xa43fe16908251ee70ef74718545e4fe6c5ccec9f": {"value": "0xa43fe16908251ee70ef74718545e4fe6c5ccec9f"}}, "schema": {"type": "string"}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 100, "default": 100, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "timeframe", "required": true, "in": "query", "description": "The time interval of the candles", "schema": {"default": "1h", "enum": ["1s", "10s", "30s", "1min", "5min", "10min", "30min", "1h", "4h", "12h", "1d", "1w", "1M"], "type": "string"}}, {"name": "fromDate", "required": true, "in": "query", "description": "The starting date (format in seconds or datestring accepted by momentjs)", "schema": {"example": "2025-01-01T00:00:00Z", "type": "string"}}, {"name": "toDate", "required": true, "in": "query", "description": "The ending date (format in seconds or datestring accepted by momentjs)", "schema": {"example": "2026-01-01T00:00:00Z", "type": "string"}}, {"name": "currency", "required": true, "in": "query", "description": "The currency of the candles", "schema": {"default": "usd", "enum": ["native", "usd"], "type": "string"}}, {"name": "connectedCandles", "required": false, "in": "query", "description": "Whether to use connected candles (\"open\" value of the candle is equal \"close\" value of the previous candle)", "schema": {"default": false, "type": "boolean"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetCandleSticksResponseDto"}}}}}, "summary": "Get the OHLCV candle stick by using pair address", "tags": ["Pairs"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddress}/defi/positions": {"get": {"description": "Returns all DeFi positions (lending, liquidity, staking) for a wallet address across specified chains in a unified schema.", "operationId": "getDefiPositions", "parameters": [{"name": "walletAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}}, "schema": {"type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x15b38", "chiliz", "0x19", "cro", "0x2105", "base", "0x38", "binance", "0x440", "metis", "0x46f", "lisk", "0x504", "moon beam", "0x505", "moon river", "0x531", "sei", "0x64", "gnosis", "0x7e4", "ronin", "0x89", "polygon", "0x8f", "monad", "0x92", "sonic", "0xa", "optimism", "0xa4b1", "arbitrum", "0xa86a", "avalanche", "0xe708", "linea", "0xfa", "fantom", "solana-mainnet", "sol", "all", "mainnets", "testnets"]}}}, {"name": "limit", "required": false, "in": "query", "description": "Maximum number of positions to return per page", "schema": {"minimum": 1, "maximum": 100, "default": 25, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "Pagination cursor for next page", "schema": {"type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UniversalDefiResponseDto"}}}}}, "summary": "Get DeFi positions for a wallet across multiple chains", "tags": ["DeFi"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddress}/defi/{protocol}/positions": {"get": {"description": "Returns DeFi positions for a wallet address filtered by a specific protocol across specified chains.", "operationId": "getDefiProtocolPositions", "parameters": [{"name": "walletAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}}, "schema": {"type": "string"}}, {"name": "protocol", "required": true, "in": "path", "description": "Protocol identifier (e.g. \"aave-v3\", \"uniswap-v3\")", "schema": {"example": "aave-v3", "type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x15b38", "chiliz", "0x19", "cro", "0x2105", "base", "0x38", "binance", "0x440", "metis", "0x46f", "lisk", "0x504", "moon beam", "0x505", "moon river", "0x531", "sei", "0x64", "gnosis", "0x7e4", "ronin", "0x89", "polygon", "0x8f", "monad", "0x92", "sonic", "0xa", "optimism", "0xa4b1", "arbitrum", "0xa86a", "avalanche", "0xe708", "linea", "0xfa", "fantom", "solana-mainnet", "sol", "all", "mainnets", "testnets"]}}}, {"name": "limit", "required": false, "in": "query", "description": "Maximum number of positions to return per page", "schema": {"minimum": 1, "maximum": 100, "default": 25, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "Pagination cursor for next page", "schema": {"type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UniversalDefiProtocolPositionsResponseDto"}}}}}, "summary": "Get DeFi positions for a specific protocol", "tags": ["DeFi"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddress}/defi/summary": {"get": {"description": "Returns a summary of all DeFi positions for a wallet address across specified chains.", "operationId": "getDefiSummary", "parameters": [{"name": "walletAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}}, "schema": {"type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x15b38", "chiliz", "0x19", "cro", "0x2105", "base", "0x38", "binance", "0x440", "metis", "0x46f", "lisk", "0x504", "moon beam", "0x505", "moon river", "0x531", "sei", "0x64", "gnosis", "0x7e4", "ronin", "0x89", "polygon", "0x8f", "monad", "0x92", "sonic", "0xa", "optimism", "0xa4b1", "arbitrum", "0xa86a", "avalanche", "0xe708", "linea", "0xfa", "fantom", "solana-mainnet", "sol", "all", "mainnets", "testnets"]}}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UniversalDefiSummaryResponseDto"}}}}}, "summary": "Get DeFi positions summary for a wallet across multiple chains", "tags": ["DeFi"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/pairs/{pairAddress}/swaps": {"get": {"description": "Get all swap related transactions (buy, sell, add liquidity & remove liquidity) for a specific pair address.", "operationId": "getSwapsByPairAddress", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche"]}}, {"name": "pairAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xa43fe16908251ee70ef74718545e4fe6c5ccec9f": {"value": "0xa43fe16908251ee70ef74718545e4fe6c5ccec9f"}}, "schema": {"type": "string"}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 100, "default": 100, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "order", "required": false, "in": "query", "description": "The order of items", "schema": {"default": "DESC", "enum": ["ASC", "DESC"], "type": "string"}}, {"name": "fromDate", "required": false, "in": "query", "description": "The start date from which to get the swaps (format in seconds or string accepted by momentjs)\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "string"}}, {"name": "toDate", "required": false, "in": "query", "description": "The end date from which to get the swaps (format in seconds or string accepted by momentjs)\n* Provide the param 'toBlock' or 'toDate'\n* If 'toDate' and 'toBlock' are provided, 'toBlock' will be used.", "schema": {"type": "string"}}, {"name": "fromBlock", "required": false, "in": "query", "description": "The minimum block number from which to get the swaps\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "number"}}, {"name": "toBlock", "required": false, "in": "query", "description": "The block number to get the swaps until", "schema": {"type": "number"}}, {"name": "transactionTypes", "required": false, "in": "query", "description": "Transaction types to fetch. Possible values: 'buy', 'sell', 'addLiquidity' or 'removeLiquidity' separated by comma", "schema": {"default": "buy,sell,addLiquidity,removeLiquidity", "example": "buy,sell,addLiquidity,removeLiquidity", "type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetSwapsByPairAddressResponseDto"}}}}}, "summary": "Get all swap related transactions (buy, sell, add liquidity & remove liquidity)", "tags": ["Pairs"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/tokens/{tokenAddress}/swaps": {"get": {"description": "Get all swap related transactions (buy, sell) for a specific token address.", "operationId": "getSwapsByTokenAddress", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche"]}}, {"name": "tokenAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48": {"value": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"}}, "schema": {"type": "string"}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 100, "default": 100, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "fromDate", "required": false, "in": "query", "description": "The start date from which to get the swaps (format in seconds or string accepted by momentjs)\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "string"}}, {"name": "toDate", "required": false, "in": "query", "description": "The end date from which to get the swaps (format in seconds or string accepted by momentjs)\n* Provide the param 'toBlock' or 'toDate'\n* If 'toDate' and 'toBlock' are provided, 'toBlock' will be used.", "schema": {"type": "string"}}, {"name": "fromBlock", "required": false, "in": "query", "description": "The minimum block number from which to get the swaps\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "number"}}, {"name": "toBlock", "required": false, "in": "query", "description": "The block number to get the swaps until", "schema": {"type": "number"}}, {"name": "order", "required": false, "in": "query", "description": "The order of the results, in ascending (ASC) or descending (DESC).", "schema": {"default": "DESC", "example": "DESC", "enum": ["ASC", "DESC"], "type": "string"}}, {"name": "transactionTypes", "required": false, "in": "query", "description": "Transaction types to fetch. Possible values: 'buy','sell' or both separated by comma", "schema": {"default": "buy,sell", "example": "buy,sell", "type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetSwapsByTokenAddressResponseDto"}}}}}, "summary": "Get all swap related transactions (buy, sell)", "tags": ["Tokens"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price": {"get": {"description": "Get the current price and additional information for a specific token address.", "operationId": "getTokenPrice", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche", "bitcoin-mainnet", "bitcoin", "solana-mainnet", "sol"]}}, {"name": "tokenAliasOrTokenAddress", "required": true, "in": "path", "description": "The token address or alias", "examples": {"native": {"summary": "The native token of the chain", "value": "native"}, "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48": {"summary": "USDC", "value": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"}}, "schema": {"type": "string"}}, {"name": "toBlock", "required": false, "in": "query", "description": "Block number to check the price from", "schema": {"type": "number"}}, {"name": "maxTokenInactivity", "required": false, "in": "query", "description": "Exclude tokens inactive for more than the specified days", "schema": {"type": "number"}}, {"name": "liquidityThreshold", "required": false, "in": "query", "description": "Minimum liquidity in USD", "schema": {"type": "number"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetTokenPriceResponseDto"}}}}}, "summary": "Get the price of a token by its address", "tags": ["Tokens"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price/sparkline": {"get": {"description": "Get a small set of historical price points suitable for sparkline charts (tiny charts in token lists, watchlists, portfolio rows). Returns a fixed number of points based on the selected range.", "operationId": "getTokenPriceSparkline", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche", "bitcoin-mainnet", "bitcoin", "solana-mainnet", "sol"]}}, {"name": "tokenAliasOrTokenAddress", "required": true, "in": "path", "description": "The token address or alias", "examples": {"native": {"summary": "The native token of the chain", "value": "native"}, "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48": {"summary": "USDC", "value": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"}}, "schema": {"type": "string"}}, {"name": "range", "required": true, "in": "query", "description": "The time range for the sparkline. Determines the interval and window size.", "schema": {"example": "7d", "enum": ["24h", "7d", "30d", "90d", "1y"], "type": "string"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetTokenPriceSparklineResponseDto"}}}}}, "summary": "Get sparkline price data for a token", "tags": ["Tokens"], "security": [{"ApiKeyAuth": []}]}}, "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price/timeseries": {"get": {"description": "Get historical price data points for a specific token address, suitable for rendering line charts. Supports various time intervals from 5 minutes to monthly.", "operationId": "getTokenPriceTimeSeries", "parameters": [{"name": "chainAlias", "required": true, "in": "path", "description": "The alias of the chain.", "schema": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x89", "polygon", "0xa", "optimism", "0xa86a", "avalanche", "bitcoin-mainnet", "bitcoin", "solana-mainnet", "sol"]}}, {"name": "tokenAliasOrTokenAddress", "required": true, "in": "path", "description": "The token address or alias", "examples": {"native": {"summary": "The native token of the chain", "value": "native"}, "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48": {"summary": "USDC", "value": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"}}, "schema": {"type": "string"}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 100, "default": 100, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "interval", "required": false, "in": "query", "description": "The time interval for price data points. Defaults to 5m if not provided.", "schema": {"default": "5m", "example": "hourly", "enum": ["5m", "hourly", "daily", "weekly", "monthly"], "type": "string"}}, {"name": "fromDate", "required": false, "in": "query", "description": "The starting date (format in seconds or datestring accepted by momentjs). Defaults to 24 hours before toDate if not provided.", "schema": {"example": "2025-01-01T00:00:00Z", "type": "string"}}, {"name": "toDate", "required": false, "in": "query", "description": "The ending date (format in seconds or datestring accepted by momentjs). Defaults to now if not provided.", "schema": {"example": "2025-01-07T00:00:00Z", "type": "string"}}, {"name": "forwardFill", "required": false, "in": "query", "description": "When true, fills gaps in the time series with interpolated values", "schema": {"default": false, "type": "boolean"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetTokenPriceTimeSeriesResponseDto"}}}}}, "summary": "Get historical price time-series for a token", "tags": ["Tokens"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddressOrPublicKey}/tokens": {"get": {"description": "Get token balances from multiple chains for a specific wallet address.", "operationId": "getTokenBalances", "parameters": [{"name": "walletAddressOrPublicKey", "required": true, "in": "path", "description": "The address or public key of the account", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}, "xpub": {"value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"}}, "schema": {"type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x530", "sei-testnet", "0x531", "sei", "0x89", "polygon", "0x8f", "monad", "0xa", "optimism", "0xa86a", "avalanche", "all", "mainnets", "testnets"]}}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 1000, "default": 100, "type": "number"}}, {"name": "tokenAddresses", "required": false, "in": "query", "description": "The token addresses to be filtered in", "schema": {"example": ["0xdac17f958d2ee523a2206206994597c13d831ec7"], "type": "array", "items": {"type": "string"}}}, {"name": "excludeSpam", "required": false, "in": "query", "description": "Should exclude spam contract", "schema": {"default": false, "example": true, "type": "boolean"}}, {"name": "excludeUnverifiedContracts", "required": false, "in": "query", "description": "Should exclude unverified contract", "schema": {"default": false, "example": true, "type": "boolean"}}, {"name": "excludeNative", "required": false, "in": "query", "description": "Should exclude native contract", "schema": {"default": false, "example": true, "type": "boolean"}}, {"name": "maxTokenInactivity", "required": false, "in": "query", "description": "Should filter out contract exceeding max token inactivity", "schema": {"example": 1, "type": "number"}}, {"name": "liquidityThreshold", "required": false, "in": "query", "description": "Should filter out contract under liquidity threshold", "schema": {"example": 0, "type": "number"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetTokenBalancesResponseDto"}}}}}, "summary": "Get token balances from multiple chains for a specific wallet address.", "tags": ["Wallets"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddressOrPublicKey}/history": {"get": {"description": "Get enriched wallet transaction history using ClickHouse pointers and Envelope Service hydration.\n\n**Supported chain families:**\n- **EVM** \u2014 Ethereum, Polygon, BSC, etc. Includes native, ERC-20, ERC-721, and ERC-1155 transfers.\n- **Bitcoin** \u2014 Native BTC transfers only.\n- **Solana** \u2014 Native SOL transfers.\n\nCross-family requests (e.g. EVM address with Bitcoin chain) return 400. When no `chains` param is provided, all mainnets for the detected address family are queried.", "operationId": "getWalletHistory", "parameters": [{"name": "walletAddressOrPublicKey", "required": true, "in": "path", "description": "The address or public key of the account", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}, "xpub": {"value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"}}, "schema": {"type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x530", "sei-testnet", "0x531", "sei", "0x89", "polygon", "0x8f", "monad", "0xa", "optimism", "0xa86a", "avalanche", "solana-mainnet", "sol", "all", "mainnets", "testnets"]}}}, {"name": "limit", "required": false, "in": "query", "description": "The limit per page", "schema": {"minimum": 1, "maximum": 100, "default": 100, "type": "number"}}, {"name": "cursor", "required": false, "in": "query", "description": "The cursor to the next page", "schema": {"type": "string"}}, {"name": "order", "required": false, "in": "query", "description": "The order of items", "schema": {"default": "DESC", "enum": ["ASC", "DESC"], "type": "string"}}, {"name": "fromDate", "required": false, "in": "query", "description": "The start date from which to get the wallet history (format in seconds or string accepted by momentjs)\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "string"}}, {"name": "toDate", "required": false, "in": "query", "description": "The end date from which to get the wallet history (format in seconds or string accepted by momentjs)\n* Provide the param 'toBlock' or 'toDate'\n* If 'toDate' and 'toBlock' are provided, 'toBlock' will be used.", "schema": {"type": "string"}}, {"name": "fromBlock", "required": false, "in": "query", "description": "The minimum block number from which to get the wallet history\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.", "schema": {"type": "number"}}, {"name": "toBlock", "required": false, "in": "query", "description": "The block number to get the wallet history until", "schema": {"type": "number"}}, {"name": "verbose", "required": false, "in": "query", "description": "When true, returns full raw chain-specific data including logs, input data, and vin/vout arrays. Array fields are capped at 100 items with a hasMore flag.", "schema": {"default": false, "type": "boolean"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetWalletHistoryResponseDto"}}}}}, "summary": "Get wallet transaction history across multiple chains.", "tags": ["Wallets"], "security": [{"ApiKeyAuth": []}]}}, "/v1/wallets/{walletAddress}/insight": {"get": {"description": "Get wallet insight metrics including activity, transfers, gas usage, and optional per-chain breakdown.", "operationId": "getWalletInsight", "parameters": [{"name": "walletAddress", "required": true, "in": "path", "description": "The address", "examples": {"0xcb1c1fde09f811b294172696404e88e658659905": {"value": "0xcb1c1fde09f811b294172696404e88e658659905"}}, "schema": {"type": "string"}}, {"name": "chains", "required": false, "in": "query", "description": "Chains to query", "schema": {"type": "array", "items": {"type": "string", "enum": ["0x1", "ethereum", "0x171", "pulse", "0x2105", "base", "0x38", "binance", "0x530", "sei-testnet", "0x531", "sei", "0x89", "polygon", "0x8f", "monad", "0xa", "optimism", "0xa86a", "avalanche", "all", "mainnets", "testnets"]}}}, {"name": "includeChainBreakdown", "required": false, "in": "query", "description": "Whether to include per-chain breakdown in the response", "schema": {"default": false, "type": "boolean"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetWalletInsightResponseDto"}}}}}, "summary": "Get wallet insight metrics across multiple chains.", "tags": ["Wallets"], "security": [{"ApiKeyAuth": []}]}}}, "components": {"securitySchemes": {"ApiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-Api-Key"}}, "schemas": {"GetAddressesByXpubResponseDto": {"type": "object", "properties": {"addresses": {"description": "Derived addresses from the xpub key", "type": "array", "items": {"$ref": "#/components/schemas/XpubDerivedAddressDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["addresses", "meta"]}, "EvmBlockDto": {"type": "object", "properties": {"page": {"type": "number", "description": "Page number (always 1, no pagination)"}, "totalPages": {"type": "number", "description": "Total pages (always 1)"}, "itemsOnPage": {"type": "number", "description": "Number of transactions on this page (equals txCount)"}, "hash": {"type": "string", "description": "Block hash"}, "previousBlockHash": {"type": "string", "description": "Parent block hash"}, "height": {"type": "number", "description": "Block height (block number as integer)"}, "size": {"type": "number", "description": "Block size in bytes"}, "time": {"type": "number", "description": "Block timestamp as Unix seconds"}, "txCount": {"type": "number", "description": "Number of transactions"}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "txs": {"description": "Full transaction list", "type": "array", "items": {"$ref": "#/components/schemas/EvmTransactionDto"}}, "evmSpecific": {"description": "EVM-specific block fields", "allOf": [{"$ref": "#/components/schemas/EvmBlockSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["page", "totalPages", "itemsOnPage", "hash", "previousBlockHash", "height", "size", "time", "txCount", "chainFamily", "txs", "evmSpecific", "meta"]}, "BitcoinBlockDto": {"type": "object", "properties": {"page": {"type": "number", "description": "Page number (always 1, no pagination)"}, "totalPages": {"type": "number", "description": "Total pages (always 1)"}, "itemsOnPage": {"type": "number", "description": "Number of transactions on this page (equals txCount)"}, "hash": {"type": "string", "description": "Block hash"}, "previousBlockHash": {"type": "string", "description": "Parent block hash"}, "height": {"type": "number", "description": "Block height (block number as integer)"}, "size": {"type": "number", "description": "Block size in bytes"}, "time": {"type": "number", "description": "Block timestamp as Unix seconds"}, "txCount": {"type": "number", "description": "Number of transactions"}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "txs": {"description": "Full transaction list", "type": "array", "items": {"$ref": "#/components/schemas/BitcoinTransactionDto"}}, "bitcoinSpecific": {"description": "Bitcoin-specific block fields", "allOf": [{"$ref": "#/components/schemas/BitcoinBlockSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["page", "totalPages", "itemsOnPage", "hash", "previousBlockHash", "height", "size", "time", "txCount", "chainFamily", "txs", "bitcoinSpecific", "meta"]}, "SolanaBlockDto": {"type": "object", "properties": {"page": {"type": "number", "description": "Page number (always 1, no pagination)"}, "totalPages": {"type": "number", "description": "Total pages (always 1)"}, "itemsOnPage": {"type": "number", "description": "Number of transactions on this page (equals txCount)"}, "hash": {"type": "string", "description": "Block hash"}, "previousBlockHash": {"type": "string", "description": "Parent block hash"}, "height": {"type": "number", "description": "Block height (block number as integer)"}, "size": {"type": "number", "description": "Block size in bytes"}, "time": {"type": "number", "description": "Block timestamp as Unix seconds"}, "txCount": {"type": "number", "description": "Number of transactions"}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "txs": {"description": "Full transaction list", "type": "array", "items": {"$ref": "#/components/schemas/SolanaTransactionDto"}}, "solanaSpecific": {"description": "Solana-specific block fields", "allOf": [{"$ref": "#/components/schemas/SolanaBlockSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["page", "totalPages", "itemsOnPage", "hash", "previousBlockHash", "height", "size", "time", "txCount", "chainFamily", "txs", "solanaSpecific", "meta"]}, "EvmTransactionDto": {"type": "object", "properties": {"txid": {"type": "string", "description": "Transaction hash"}, "vin": {"description": "Transaction inputs", "type": "array", "items": {"$ref": "#/components/schemas/VinDto"}}, "vout": {"description": "Transaction outputs", "type": "array", "items": {"$ref": "#/components/schemas/VoutDto"}}, "blockHash": {"type": "string", "nullable": true, "description": "Block hash (null for unconfirmed/mempool transactions)"}, "blockHeight": {"type": "number", "description": "Block height"}, "blockTime": {"type": "number", "description": "Block timestamp as Unix seconds"}, "value": {"type": "string", "description": "Value transferred"}, "fees": {"type": "string", "description": "Transaction fee"}, "tokenTransfers": {"nullable": true, "description": "Token transfers", "type": "array", "items": {"$ref": "#/components/schemas/SimpleTokenTransferDto"}}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "evmSpecific": {"description": "EVM-specific transaction fields", "allOf": [{"$ref": "#/components/schemas/EvmTransactionSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["txid", "vin", "vout", "blockHash", "blockHeight", "blockTime", "value", "fees", "tokenTransfers", "chainFamily", "evmSpecific", "meta"]}, "BitcoinTransactionDto": {"type": "object", "properties": {"txid": {"type": "string", "description": "Transaction hash"}, "vin": {"description": "Transaction inputs", "type": "array", "items": {"$ref": "#/components/schemas/VinDto"}}, "vout": {"description": "Transaction outputs", "type": "array", "items": {"$ref": "#/components/schemas/VoutDto"}}, "blockHash": {"type": "string", "nullable": true, "description": "Block hash (null for unconfirmed/mempool transactions)"}, "blockHeight": {"type": "number", "description": "Block height"}, "blockTime": {"type": "number", "description": "Block timestamp as Unix seconds"}, "value": {"type": "string", "description": "Value transferred"}, "fees": {"type": "string", "description": "Transaction fee"}, "tokenTransfers": {"nullable": true, "description": "Token transfers", "type": "array", "items": {"$ref": "#/components/schemas/SimpleTokenTransferDto"}}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "bitcoinSpecific": {"description": "Bitcoin-specific transaction fields", "allOf": [{"$ref": "#/components/schemas/BitcoinTransactionSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["txid", "vin", "vout", "blockHash", "blockHeight", "blockTime", "value", "fees", "tokenTransfers", "chainFamily", "bitcoinSpecific", "meta"]}, "SolanaTransactionDto": {"type": "object", "properties": {"txid": {"type": "string", "description": "Transaction hash"}, "vin": {"description": "Transaction inputs", "type": "array", "items": {"$ref": "#/components/schemas/VinDto"}}, "vout": {"description": "Transaction outputs", "type": "array", "items": {"$ref": "#/components/schemas/VoutDto"}}, "blockHash": {"type": "string", "nullable": true, "description": "Block hash (null for unconfirmed/mempool transactions)"}, "blockHeight": {"type": "number", "description": "Block height"}, "blockTime": {"type": "number", "description": "Block timestamp as Unix seconds"}, "value": {"type": "string", "description": "Value transferred"}, "fees": {"type": "string", "description": "Transaction fee"}, "tokenTransfers": {"nullable": true, "description": "Token transfers", "type": "array", "items": {"$ref": "#/components/schemas/SimpleTokenTransferDto"}}, "chainFamily": {"type": "string", "enum": ["EVM", "Bitcoin", "Solana"], "description": "Chain family discriminator used to identify the response variant"}, "solanaSpecific": {"description": "Solana-specific transaction fields", "allOf": [{"$ref": "#/components/schemas/SolanaTransactionSpecificDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["txid", "vin", "vout", "blockHash", "blockHeight", "blockTime", "value", "fees", "tokenTransfers", "chainFamily", "solanaSpecific", "meta"]}, "GetCandleSticksResponseDto": {"type": "object", "properties": {"cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}, "page": {"type": "number", "description": "The current page number", "example": 1}, "pairAddress": {"type": "string", "description": "The pair address", "example": "0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852"}, "tokenAddress": {"type": "object", "description": "The token address", "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2", "nullable": true}, "timeframe": {"type": "string", "description": "The time interval of the candles", "example": "1h"}, "currency": {"type": "string", "description": "The currency of the candles", "example": "usd"}, "result": {"description": "The list of candles", "type": "array", "items": {"$ref": "#/components/schemas/CandleDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["cursor", "page", "pairAddress", "tokenAddress", "timeframe", "currency", "result", "meta"]}, "UniversalDefiResponseDto": {"type": "object", "properties": {"meta": {"$ref": "#/components/schemas/MultiChainResponseMetaDto"}, "result": {"type": "array", "items": {"$ref": "#/components/schemas/UniversalDefiPositionDto"}}, "cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}}, "required": ["meta", "result", "cursor"]}, "UniversalDefiProtocolPositionsResponseDto": {"type": "object", "properties": {"meta": {"$ref": "#/components/schemas/MultiChainResponseMetaDto"}, "result": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/UniversalDefiProtocolDto"}]}, "cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}}, "required": ["meta", "cursor"]}, "UniversalDefiSummaryResponseDto": {"type": "object", "properties": {"meta": {"$ref": "#/components/schemas/MultiChainResponseMetaDto"}, "result": {"$ref": "#/components/schemas/DefiSummaryResultDto"}}, "required": ["meta", "result"]}, "GetSwapsByPairAddressResponseDto": {"type": "object", "properties": {"cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}, "page": {"type": "number", "example": 1}, "pageSize": {"type": "number", "example": 100}, "exchangeName": {"type": "string", "nullable": true, "example": "Raydium AMM v4"}, "exchangeLogo": {"type": "string", "nullable": true, "example": "https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png"}, "exchangeAddress": {"type": "string", "nullable": true, "example": "0x1f98431c8ad98523631ae4a59f267346ea31f984"}, "pairLabel": {"type": "string", "nullable": true, "example": "BRETT/WETH"}, "pairAddress": {"type": "string", "nullable": true, "example": "0x36a46dff597c5a444bbc521d26787f57867d2214"}, "baseToken": {"$ref": "#/components/schemas/SwapsByPairAddressTokenMetadataDto"}, "quoteToken": {"$ref": "#/components/schemas/SwapsByPairAddressTokenMetadataDto"}, "result": {"type": "array", "items": {"$ref": "#/components/schemas/SwapByPairAddressItemDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["cursor", "page", "pageSize", "exchangeName", "exchangeLogo", "exchangeAddress", "pairLabel", "pairAddress", "baseToken", "quoteToken", "result", "meta"]}, "GetSwapsByTokenAddressResponseDto": {"type": "object", "properties": {"cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}, "page": {"type": "number", "example": 1}, "pageSize": {"type": "number", "example": 100}, "result": {"type": "array", "items": {"$ref": "#/components/schemas/SwapByTokenAddressItemDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["cursor", "page", "pageSize", "result", "meta"]}, "GetTokenPriceResponseDto": {"type": "object", "properties": {"chain": {"type": "string", "description": "The chain alias", "example": "eth"}, "tokenName": {"type": "string", "description": "The token name", "example": "Pepe"}, "tokenSymbol": {"type": "string", "description": "The token symbol", "example": "PEPE"}, "tokenAddress": {"type": "string", "description": "The token contract address", "example": "0x6982508145454ce325ddbe47a25d4ec3d2311933", "nullable": true}, "tokenLogo": {"type": "string", "description": "The token logo URL", "nullable": true, "example": "https://logo.moralis.io/0x1_0x69825081454ce6d19f71c224cba025989229.jpeg"}, "tokenDecimals": {"type": "number", "description": "The token decimals", "example": 18}, "usdPrice": {"type": "number", "description": "The USD price", "example": 2534.12}, "24hrChangeUsd": {"type": "number", "description": "The 24hr USD price change", "example": 35.82}, "24hrChangePercent": {"type": "number", "description": "The 24hr price percent change", "example": 1.43}, "nativePrice": {"description": "The native price information", "allOf": [{"$ref": "#/components/schemas/NativePriceDto"}]}, "verifiedContract": {"type": "boolean", "description": "Whether the contract is verified", "example": true}, "securityScore": {"type": "number", "description": "The security score", "example": 99}, "possibleSpam": {"type": "boolean", "description": "Whether the token is possibly spam", "example": false}, "updatedAt": {"description": "Information about when the price was last updated", "allOf": [{"$ref": "#/components/schemas/UpdatedAtDto"}]}, "dexInformation": {"description": "DEX exchange and pair information (null for Bitcoin)", "nullable": true, "allOf": [{"$ref": "#/components/schemas/DexInformationDto"}]}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["chain", "tokenName", "tokenSymbol", "tokenAddress", "tokenLogo", "tokenDecimals", "usdPrice", "24hrChangeUsd", "24hrChangePercent", "nativePrice", "verifiedContract", "securityScore", "possibleSpam", "updatedAt", "dexInformation", "meta"]}, "GetTokenPriceSparklineResponseDto": {"type": "object", "properties": {"chain": {"type": "string", "description": "The resolved blockchain chain ID", "example": "0x1"}, "range": {"type": "string", "description": "The sparkline range used for this result", "enum": ["24h", "7d", "30d", "90d", "1y"], "example": "7d"}, "fromDate": {"type": "string", "description": "ISO-8601 timestamp of the computed window start", "example": "2025-01-01T00:00:00.000Z"}, "toDate": {"type": "string", "description": "ISO-8601 timestamp of the computed window end", "example": "2025-01-08T00:00:00.000Z"}, "page": {"type": "number", "description": "Always 1. Sparkline responses are not paginated.", "example": 1}, "cursor": {"type": "object", "description": "Always null. Sparkline responses are not paginated.", "nullable": true, "example": null}, "result": {"description": "Array of price data points", "type": "array", "items": {"$ref": "#/components/schemas/PriceTimeSeriesItemDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["chain", "range", "fromDate", "toDate", "page", "cursor", "result", "meta"]}, "GetTokenPriceTimeSeriesResponseDto": {"type": "object", "properties": {"cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}, "chain": {"type": "string", "description": "The blockchain network chain ID", "example": "0x1"}, "fromDate": {"type": "string", "description": "The starting date of the time series in ISO 8601 format", "example": "2025-01-01T00:00:00.000Z"}, "toDate": {"type": "string", "description": "The ending date of the time series in ISO 8601 format", "example": "2025-01-07T00:00:00.000Z"}, "interval": {"type": "string", "description": "The time interval used for the price data points", "enum": ["5m", "hourly", "daily", "weekly", "monthly"], "example": "5m"}, "page": {"type": "number", "description": "The current page number", "example": 1}, "result": {"description": "The list of price data points", "type": "array", "items": {"$ref": "#/components/schemas/PriceTimeSeriesItemDto"}}, "meta": {"$ref": "#/components/schemas/SingleChainResponseMetaDto"}}, "required": ["cursor", "chain", "fromDate", "toDate", "interval", "page", "result", "meta"]}, "GetTokenBalancesResponseDto": {"type": "object", "properties": {"meta": {"description": "Metadata about the multi-chain request", "allOf": [{"$ref": "#/components/schemas/MultiChainResponseMetaDto"}]}, "address": {"type": "string", "description": "The wallet address", "example": "0xcb1c1fde09f811b294172696404e88e658659905"}, "addressType": {"type": "string", "description": "The wallet address type", "enum": ["evm", "solana", "bitcoin"], "example": "evm"}, "cursor": {"type": "string", "description": "The cursor to be used for getting the next page of results", "nullable": true, "example": "eyJhbGciOi...VCaaw"}, "result": {"description": "The list of items", "type": "array", "items": {"$ref": "#/components/schemas/ChainBalanceDto"}}}, "required": ["meta", "address", "addressType", "cursor", "result"]}, "GetWalletHistoryResponseDto": {"type": "object", "properties": {"address": {"type": "string", "description": "The queried wallet address", "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"}, "addressType": {"type": "string", "description": "Address type derived from chain family (evm for Ethereum-compatible, bitcoin for BTC, solana for Solana)", "enum": ["evm", "bitcoin", "solana"], "example": "evm"}, "cursor": {"type": "string", "description": "Opaque cursor token for pagination (null when no more pages)", "nullable": true}, "page": {"type": "number", "description": "Current page number (1-indexed)", "example": 1}, "pageSize": {"type": "number", "description": "Number of items in this page"}, "result": {"description": "Array of wallet history items", "type": "array", "items": {"$ref": "#/components/schemas/WalletHistoryItemDto"}}, "meta": {"description": "Response metadata with sync status and diagnostics", "allOf": [{"$ref": "#/components/schemas/WalletHistoryMetaDto"}]}}, "required": ["address", "addressType", "cursor", "page", "pageSize", "result", "meta"]}, "GetWalletInsightResponseDto": {"type": "object", "properties": {"walletAgeDays": {"type": "number", "example": 365}, "firstActivityAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "lastActivityAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "firstInitiatedAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "lastInitiatedAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "activeDays": {"type": "number", "example": 120}, "transactionsInitiated": {"type": "number", "example": 200}, "transactionsInvolved": {"type": "number", "example": 350}, "nativeTransfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "erc20Transfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "nftTransfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "uniqueCounterparties": {"$ref": "#/components/schemas/UniqueCounterpartiesDto"}, "swapVolumeUsd": {"type": "number", "example": 125000.5}, "totalGasSpentUsd": {"type": "string", "example": "3005.67"}, "avgGasPerTransactionUsd": {"type": "string", "example": "0.051"}, "nativeVolumeSentUsd": {"type": "string", "example": "12175.60"}, "nativeVolumeReceivedUsd": {"type": "string", "example": "7305.36"}, "nativeNetFlowUsd": {"type": "string", "example": "-4870.24"}, "uniqueTokensInteracted": {"type": "number", "example": 42}, "contractsCreated": {"type": "number", "example": 3}, "largestNativeTransferInUsd": {"type": "string", "example": "2435.12"}, "largestNativeTransferOutUsd": {"type": "string", "example": "1217.56"}, "meta": {"$ref": "#/components/schemas/MultiChainResponseMetaDto"}, "address": {"type": "string", "example": "0x1234..."}, "addressType": {"type": "string", "example": "evm"}, "activeChains": {"type": "number", "example": 5}, "mostActiveChain": {"type": "string", "nullable": true, "example": "0x1"}, "chainBreakdown": {"nullable": true, "type": "array", "items": {"$ref": "#/components/schemas/ChainBreakdownEntryDto"}}}, "required": ["walletAgeDays", "firstActivityAt", "lastActivityAt", "firstInitiatedAt", "lastInitiatedAt", "activeDays", "transactionsInitiated", "transactionsInvolved", "nativeTransfers", "erc20Transfers", "nftTransfers", "uniqueCounterparties", "swapVolumeUsd", "totalGasSpentUsd", "avgGasPerTransactionUsd", "nativeVolumeSentUsd", "nativeVolumeReceivedUsd", "nativeNetFlowUsd", "uniqueTokensInteracted", "contractsCreated", "largestNativeTransferInUsd", "largestNativeTransferOutUsd", "meta", "address", "addressType", "activeChains", "mostActiveChain", "chainBreakdown"]}, "XpubDerivedAddressDto": {"type": "object", "properties": {"address": {"type": "string", "description": "The derived Bitcoin address", "example": "1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"}, "path": {"type": "string", "description": "BIP44 derivation path", "example": "m/44'/0'/0'/0/0"}, "transfers": {"type": "number", "description": "Number of transactions involving this address", "example": 3}}, "required": ["address", "path", "transfers"]}, "SingleChainResponseMetaDto": {"type": "object", "properties": {"syncedAt": {"type": "object", "description": "Last ingested block number per chain ID", "additionalProperties": {"type": "number"}, "example": {"0x1": 19800000}}}, "required": ["syncedAt"]}, "EvmBlockSpecificDto": {"type": "object", "properties": {"baseFeePerGas": {"type": "string", "nullable": true, "description": "Base fee per gas (EIP-1559, post-London)"}, "difficulty": {"type": "string", "nullable": true, "description": "Block difficulty (also present on Bitcoin blocks)"}, "extraData": {"type": "string", "nullable": true, "description": "Extra data field"}, "gasLimit": {"type": "string", "nullable": true, "description": "Block gas limit"}, "gasUsed": {"type": "string", "nullable": true, "description": "Total gas used in block"}, "logsBloom": {"type": "string", "nullable": true, "description": "Logs bloom filter"}, "miner": {"type": "string", "nullable": true, "description": "Block miner / proposer address"}, "nonce": {"type": "string", "nullable": true, "description": "Block nonce (0x0000000000000000 post-merge)"}, "mixHash": {"type": "string", "nullable": true, "description": "Mix hash for PoW verification"}, "receiptsRoot": {"type": "string", "nullable": true, "description": "Receipts root hash"}, "sha3Uncles": {"type": "string", "nullable": true, "description": "SHA3 of uncles data"}, "stateRoot": {"type": "string", "nullable": true, "description": "State root hash"}, "totalDifficulty": {"type": "string", "nullable": true, "description": "Total cumulative chain difficulty"}, "transactionsRoot": {"type": "string", "nullable": true, "description": "Transactions root hash"}, "uncles": {"type": "string", "nullable": true, "description": "Uncle block hashes (JSON array as string)"}, "withdrawalsRoot": {"type": "string", "nullable": true, "description": "Withdrawals root hash (post-Shanghai)"}}, "required": ["baseFeePerGas", "difficulty", "extraData", "gasLimit", "gasUsed", "logsBloom", "miner", "nonce", "mixHash", "receiptsRoot", "sha3Uncles", "stateRoot", "totalDifficulty", "transactionsRoot", "uncles", "withdrawalsRoot"]}, "BitcoinBlockSpecificDto": {"type": "object", "properties": {"bits": {"type": "string", "nullable": true, "description": "Target difficulty bits in compact representation"}, "chainwork": {"type": "string", "nullable": true, "description": "Cumulative chain work \u2014 total proof-of-work"}, "difficulty": {"type": "string", "nullable": true, "description": "Block difficulty (also present on EVM blocks)"}, "merkleRoot": {"type": "string", "nullable": true, "description": "Merkle root of all transactions"}, "miner": {"type": "string", "nullable": true, "description": "Coinbase/miner address"}, "nonce": {"type": "string", "nullable": true, "description": "Block nonce"}, "weight": {"type": "string", "nullable": true, "description": "Block weight \u2014 SegWit metric"}, "witnessCommitment": {"type": "string", "nullable": true, "description": "SegWit witness commitment (BIP 141)"}}, "required": ["bits", "chainwork", "difficulty", "merkleRoot", "miner", "nonce", "weight", "witnessCommitment"]}, "SolanaBlockSpecificDto": {"type": "object", "properties": {"miscJson": {"type": "string", "nullable": true, "description": "Raw chain-specific block data as JSON. Provisional \u2014 structure subject to change when SDK adds explicit Solana block fields."}}, "required": ["miscJson"]}, "VinDto": {"type": "object", "properties": {"txid": {"type": "string", "nullable": true, "description": "UTXO input transaction ID (Bitcoin only, null for EVM/Solana)"}, "vout": {"type": "number", "nullable": true, "description": "UTXO output index spent by this input (Bitcoin only, null for EVM/Solana)"}, "sequence": {"type": "number", "nullable": true, "description": "UTXO input sequence number (Bitcoin only, null for EVM/Solana)"}, "n": {"type": "number", "description": "Input index (always 0 for account-model chains)"}, "addresses": {"description": "Sender addresses", "type": "array", "items": {"type": "string"}}, "isAddress": {"type": "boolean", "description": "Whether addresses are valid"}, "value": {"type": "string", "nullable": true, "description": "Input value (UTXO inputs)"}, "hex": {"type": "string", "nullable": true, "description": "Script hex (Bitcoin only, null for EVM/Solana)"}}, "required": ["txid", "vout", "sequence", "n", "addresses", "isAddress", "value", "hex"]}, "VoutDto": {"type": "object", "properties": {"n": {"type": "number", "description": "Output index"}, "value": {"type": "string", "description": "Output value"}, "addresses": {"description": "Recipient addresses", "type": "array", "items": {"type": "string"}}, "isAddress": {"type": "boolean", "description": "Whether addresses are valid"}, "spent": {"type": "boolean", "nullable": true, "description": "Whether output is spent (UTXO only)"}, "hex": {"type": "string", "nullable": true, "description": "Script hex (Bitcoin only, null for EVM/Solana)"}}, "required": ["n", "value", "addresses", "isAddress", "spent", "hex"]}, "SimpleTokenTransferDto": {"type": "object", "properties": {"type": {"type": "string", "description": "Token type (ERC20, ERC721, etc.)"}, "from": {"type": "string", "description": "Sender address"}, "to": {"type": "string", "description": "Recipient address"}, "token": {"type": "string", "description": "Token contract address"}, "name": {"type": "string", "description": "Token name"}, "symbol": {"type": "string", "description": "Token symbol"}, "decimals": {"type": "number", "description": "Token decimals"}, "value": {"type": "string", "description": "Amount transferred"}}, "required": ["type", "from", "to", "token", "name", "symbol", "decimals", "value"]}, "EvmTransactionSpecificDto": {"type": "object", "properties": {"status": {"type": "number", "description": "Transaction status (1 = success, 0 = failure)"}, "nonce": {"type": "number", "description": "Transaction nonce"}, "gasLimit": {"type": "number", "description": "Gas limit provided"}, "gasUsed": {"type": "number", "description": "Gas actually used"}, "gasPrice": {"type": "string", "description": "Gas price in wei"}, "data": {"type": "string", "description": "Transaction input data as hex"}, "effectiveGasPrice": {"type": "string", "nullable": true, "description": "Effective gas price (EIP-1559)"}, "maxFeePerGas": {"type": "string", "nullable": true, "description": "Max fee per gas (EIP-1559)"}, "maxPriorityFeePerGas": {"type": "string", "nullable": true, "description": "Max priority fee per gas (EIP-1559)"}, "cumulativeGasUsed": {"type": "string", "nullable": true, "description": "Cumulative gas used in block up to this transaction"}, "transactionType": {"type": "string", "nullable": true, "description": "Transaction type (0 = legacy, 1 = EIP-2930, 2 = EIP-1559, 3 = EIP-4844)"}, "contractAddress": {"type": "string", "nullable": true, "description": "Contract address created (if contract creation)"}}, "required": ["status", "nonce", "gasLimit", "gasUsed", "gasPrice", "data", "effectiveGasPrice", "maxFeePerGas", "maxPriorityFeePerGas", "cumulativeGasUsed", "transactionType", "contractAddress"]}, "BitcoinTransactionSpecificDto": {"type": "object", "properties": {"version": {"type": "number", "nullable": true, "description": "Transaction version"}, "locktime": {"type": "number", "nullable": true, "description": "Transaction locktime"}, "weight": {"type": "number", "nullable": true, "description": "Transaction weight (SegWit)"}, "vsize": {"type": "number", "nullable": true, "description": "Virtual size in vbytes"}, "valueIn": {"type": "string", "nullable": true, "description": "Total input value in satoshis"}, "hex": {"type": "string", "nullable": true, "description": "Raw transaction hex"}, "miscJson": {"type": "string", "nullable": true, "description": "Raw Blockbook miscJson. Null when successfully parsed into structured fields (vin/vout, version, locktime, etc.)"}}, "required": ["version", "locktime", "weight", "vsize", "valueIn", "hex", "miscJson"]}, "SolanaTransactionSpecificDto": {"type": "object", "properties": {"miscJson": {"type": "string", "nullable": true, "description": "Raw chain-specific transaction data as JSON. Provisional \u2014 structure subject to change when SDK adds explicit Solana transaction fields."}}, "required": ["miscJson"]}, "CandleDto": {"type": "object", "properties": {"timestamp": {"type": "string", "description": "The timestamp of the candle", "example": "2025-01-02T09:00:00.000Z"}, "open": {"type": "number", "description": "The open price in the specified currency", "example": 1.25}, "close": {"type": "number", "description": "The close price in the specified currency", "example": 1.3}, "high": {"type": "number", "description": "The high price in the specified currency", "example": 1.35}, "low": {"type": "number", "description": "The low price in the specified currency", "example": 1.2}, "volume": {"type": "number", "description": "The volume in the specified currency", "example": 1625.58}, "trades": {"type": "number", "description": "The number of swaps in this candle period", "example": 42}}, "required": ["timestamp", "open", "close", "high", "low", "volume", "trades"]}, "MultiChainResponseMetaDto": {"type": "object", "properties": {"syncedAt": {"type": "object", "description": "Last sync block position for each chain in the response. The literal 'latest' indicates the chain is synced up to the latest block (no pinned block number available).", "additionalProperties": {"oneOf": [{"type": "number"}, {"type": "string"}]}, "example": {"0x1": 1710000000, "solana-mainnet": "latest"}}, "unsupportedChains": {"description": "Requested chains that are not supported", "nullable": true, "example": ["0x89"], "type": "array", "items": {"type": "string"}}, "failedChains": {"description": "Requested chains that are not supported", "nullable": true, "example": ["0x89"], "type": "array", "items": {"$ref": "#/components/schemas/ChainFailureDto"}}}, "required": ["syncedAt", "unsupportedChains", "failedChains"]}, "UniversalDefiPositionDto": {"type": "object", "properties": {"chainId": {"type": "string", "example": "0x1"}, "protocolId": {"type": "string"}, "protocolName": {"type": "string"}, "protocolUrl": {"type": "object", "nullable": true}, "protocolLogo": {"type": "object", "nullable": true}, "position": {"$ref": "#/components/schemas/UniversalDefiPositionBodyDto"}}, "required": ["chainId", "protocolId", "protocolName", "position"]}, "UniversalDefiProtocolDto": {"type": "object", "properties": {"protocolId": {"type": "string"}, "protocolName": {"type": "string"}, "protocolUrl": {"type": "object", "nullable": true}, "protocolLogo": {"type": "object", "nullable": true}, "chainId": {"type": "string", "example": "0x1"}, "totalUsd": {"type": "object", "nullable": true}, "totalUnclaimedUsd": {"type": "object", "nullable": true}, "positions": {"type": "array", "items": {"$ref": "#/components/schemas/UniversalDefiPositionBodyDto"}}}, "required": ["protocolId", "protocolName", "chainId", "totalUsd", "totalUnclaimedUsd", "positions"]}, "DefiSummaryResultDto": {"type": "object", "properties": {"activeProtocols": {"type": "number"}, "totalPositions": {"type": "number"}, "totalUsd": {"type": "object", "nullable": true}, "totalUnclaimedUsd": {"type": "object", "nullable": true}, "protocols": {"type": "array", "items": {"$ref": "#/components/schemas/DefiProtocolSummaryDto"}}}, "required": ["activeProtocols", "totalPositions", "protocols"]}, "SwapsByPairAddressTokenMetadataDto": {"type": "object", "properties": {"address": {"type": "string", "nullable": true, "example": "0x36a46dff597c5a444bbc521d26787f57867d2214"}, "name": {"type": "string", "nullable": true, "example": "MAD"}, "symbol": {"type": "string", "nullable": true, "example": "MAD"}, "logo": {"type": "string", "nullable": true, "example": "https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png"}, "decimals": {"type": "string", "nullable": true, "example": "18"}}, "required": ["address", "name", "symbol", "logo", "decimals"]}, "SwapByPairAddressItemDto": {"type": "object", "properties": {"transactionHash": {"type": "string", "nullable": true, "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"}, "transactionType": {"type": "string", "nullable": true, "example": "sell"}, "transactionIndex": {"type": "number", "nullable": true, "example": 250}, "subCategory": {"type": "string", "example": "sellAll"}, "blockTimestamp": {"type": "string", "nullable": true, "example": "2024-11-28T09:44:55.000Z"}, "blockNumber": {"type": "number", "example": 304108120}, "walletAddress": {"type": "string", "nullable": true, "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"}, "walletAddressLabel": {"type": "string", "nullable": true, "example": "Murad Wallet"}, "baseTokenAmount": {"type": "string", "nullable": true, "example": "199255.444466200"}, "quoteTokenAmount": {"type": "string", "nullable": true, "example": "0.007374998"}, "baseTokenPriceUsd": {"type": "number", "nullable": true, "example": 8.794e-06}, "quoteTokenPriceUsd": {"type": "number", "nullable": true, "example": 237.60336565}, "baseQuotePrice": {"type": "string", "nullable": true, "example": "0.0000000370127"}, "totalValueUsd": {"type": "number", "nullable": true, "example": 1.752324346}, "entityName": {"type": "string", "nullable": true, "example": "Murad"}, "entityLogo": {"type": "string", "nullable": true, "example": "https://entities-logos.s3.us-east-1.amazonaws.com/murad.png"}}, "required": ["transactionHash", "transactionType", "transactionIndex", "subCategory", "blockTimestamp", "blockNumber", "walletAddress", "walletAddressLabel", "baseTokenAmount", "quoteTokenAmount", "baseTokenPriceUsd", "quoteTokenPriceUsd", "baseQuotePrice", "totalValueUsd", "entityName", "entityLogo"]}, "SwapByTokenAddressItemDto": {"type": "object", "properties": {"transactionHash": {"type": "string", "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"}, "transactionIndex": {"type": "number", "example": 5}, "transactionType": {"type": "string", "example": "buy"}, "blockNumber": {"type": "number", "example": 12345678}, "blockTimestamp": {"type": "string", "example": "2024-11-21T09:22:28.000Z"}, "subCategory": {"type": "string", "example": "ACCUMULATION"}, "walletAddress": {"type": "string", "example": "0x1c584a6baecb7c5d51caa0ef3a579e08bd49d4e5"}, "walletAddressLabel": {"type": "string", "nullable": true, "example": "Murad Wallet"}, "pairAddress": {"type": "string", "nullable": true, "example": "0xdded227d71a096c6b5d87807c1b5c456771aaa94"}, "pairLabel": {"type": "string", "nullable": true, "example": "USDC/WETH"}, "exchangeAddress": {"type": "string", "nullable": true, "example": "0x1080ee857d165186af7f8d63e8ec510c28a6d1ea"}, "exchangeName": {"type": "string", "nullable": true, "example": "Uniswap"}, "exchangeLogo": {"type": "string", "nullable": true, "example": "https://logo.moralis.io/0xe708_0xe5d7c2a44ffddf6b295a15c148167daaaf5cf34f_769a0b766bd3d6d1830f0a95d7b3e313"}, "baseToken": {"type": "string", "nullable": true, "example": "ETH"}, "quoteToken": {"type": "string", "nullable": true, "example": "USDT"}, "bought": {"example": {"address": "0xe5d7c2a44ffddf6b295a15c148167daaaf5cf34f", "name": "Wrapped Ether", "symbol": "SYM", "logo": "https://example.com/logo-token1.png", "amount": "0.000014332429005002", "usdPrice": 3148.1828278180296, "usdAmount": 1230, "tokenType": "token1"}, "nullable": true, "allOf": [{"$ref": "#/components/schemas/SwapsByTokenAddressAmountDto"}]}, "sold": {"example": {"address": "0x176211869ca2b568f2a7d4ee941e073a821ee1ff", "name": "USDC", "symbol": "SYM", "logo": "https://example.com/logo-token2.png", "amount": "1000", "usdPrice": 0.9999999999999986, "usdAmount": -0.045138999999999936, "tokenType": "token0"}, "nullable": true, "allOf": [{"$ref": "#/components/schemas/SwapsByTokenAddressAmountDto"}]}, "baseQuotePrice": {"type": "string", "nullable": true, "example": "0.01"}, "totalValueUsd": {"type": "number", "nullable": true, "example": 1230}, "entityName": {"type": "string", "nullable": true, "example": "Murad"}, "entityLogo": {"type": "string", "nullable": true, "example": "https://entities-logos.s3.us-east-1.amazonaws.com/murad.png"}}, "required": ["transactionHash", "transactionIndex", "transactionType", "blockNumber", "blockTimestamp", "subCategory", "walletAddress", "walletAddressLabel", "pairAddress", "pairLabel", "exchangeAddress", "exchangeName", "exchangeLogo", "baseToken", "quoteToken", "bought", "sold", "baseQuotePrice", "totalValueUsd", "entityName", "entityLogo"]}, "NativePriceDto": {"type": "object", "properties": {"value": {"type": "string", "description": "The formatted native price value", "example": "439,425,812.15"}, "valueRaw": {"type": "string", "description": "The raw native price value (unformatted)", "example": "4394258121500000000"}, "decimals": {"type": "number", "description": "The number of decimals", "example": 18}, "name": {"type": "string", "description": "The name of the native token", "example": "Ether"}, "symbol": {"type": "string", "description": "The symbol of the native token", "example": "ETH"}}, "required": ["value", "valueRaw", "decimals", "name", "symbol"]}, "UpdatedAtDto": {"type": "object", "properties": {"timestamp": {"type": "string", "description": "The ISO 8601 timestamp of the last price update", "example": "2025-11-24T16:00:00.000Z"}, "blockNumber": {"type": "number", "description": "The block number of the last price update", "example": 123456755}}, "required": ["timestamp", "blockNumber"]}, "DexInformationDto": {"type": "object", "properties": {"exchangeName": {"type": "string", "description": "The name of the exchange", "example": "Uniswap v3"}, "exchangeAddress": {"type": "string", "description": "The address of the exchange", "example": "0x1F98431c8aD98523631AE4a59f267346ea31F984"}, "pairAddress": {"type": "string", "description": "The pair address", "example": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"}, "pairLiquidityUsd": {"type": "number", "description": "The pair liquidity in USD", "example": 234567890.12}}, "required": ["exchangeName", "exchangeAddress", "pairAddress", "pairLiquidityUsd"]}, "PriceTimeSeriesItemDto": {"type": "object", "properties": {"timestamp": {"type": "string", "description": "The timestamp of the price point in ISO-8601 format", "example": "2025-01-02T09:00:00.000Z"}, "price": {"type": "string", "description": "The price in USD at this timestamp", "example": "0.00123"}}, "required": ["timestamp", "price"]}, "ChainBalanceDto": {"type": "object", "properties": {"tokenAddress": {"type": "string", "description": "The token address", "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"}, "balanceRaw": {"type": "string", "description": "The balance", "example": "8541786218567066193031597821"}, "chainId": {"type": "string", "description": "The chain id", "example": "0x1"}, "name": {"type": "string", "description": "The name of the token", "example": "Tether USD", "nullable": true}, "symbol": {"type": "string", "description": "The symbol of the token", "example": "USDT", "nullable": true}, "decimals": {"type": "number", "description": "The decimals of the token", "example": 6, "nullable": true}, "logo": {"type": "string", "description": "The logo of the token", "example": "https://logo.moralis.io/0x1_0xdac17f958d2ee523a2206206994597c13d831ec7_3b83ef2ba0dba0e3385a845032e48304.webp"}, "possibleSpam": {"type": "boolean", "description": "If the token is a spam contract", "example": false}, "verifiedContract": {"type": "boolean", "description": "If the token is a verified contract", "example": true}, "balance": {"type": "string", "description": "The formatted balance of the token", "example": "8541786218567066193031.597821", "nullable": true}, "securityScore": {"type": "number", "description": "The security score of the token", "example": 99, "nullable": true}, "portfolioPercentage": {"type": "number", "description": "The percentage of token relative to wallet's portfolio", "example": 100, "nullable": true}, "usdPrice": {"type": "number", "description": "The token in USD price", "example": 1, "nullable": true}, "usdPrice24hrUsdChange": {"type": "number", "description": "The token 24hr change in USD price", "example": 0, "nullable": true}, "usdPrice24hrPercentChange": {"type": "number", "description": "The token 24hr change in USD price percent", "example": 0, "nullable": true}, "usdValue": {"type": "number", "description": "The balance in USD price", "example": 1, "nullable": true}, "usdValue24hrUsdChange": {"type": "number", "description": "The balance 24hr change in USD price", "example": 0, "nullable": true}, "nativeToken": {"type": "boolean", "description": "If the token is a native token", "example": false}, "derivedAddress": {"type": "string", "description": "The derived Bitcoin address (only present for xpub token balance queries)", "example": "1EfgV2Hr5CDjXPavHDpDMjmU33BA2veHy6", "nullable": true}, "derivedPath": {"type": "string", "description": "The BIP44 derivation path (only present for xpub token balance queries)", "example": "m/44'/0'/0'/0/0", "nullable": true}}, "required": ["tokenAddress", "balanceRaw", "chainId", "name", "symbol", "decimals", "logo", "possibleSpam", "verifiedContract", "balance", "securityScore", "portfolioPercentage", "usdPrice", "usdPrice24hrUsdChange", "usdPrice24hrPercentChange", "usdValue", "usdValue24hrUsdChange", "nativeToken", "derivedAddress", "derivedPath"]}, "WalletHistoryItemDto": {"type": "object", "properties": {"chainId": {"type": "string", "description": "Chain ID (e.g. \"0x1\", \"0x89\", \"solana-mainnet\")", "example": "0x1"}, "block": {"description": "Block information", "allOf": [{"$ref": "#/components/schemas/WalletHistoryBlockDto"}]}, "transaction": {"description": "Transaction information with transfers and enrichment", "allOf": [{"$ref": "#/components/schemas/WalletHistoryTransactionDto"}]}, "raw": {"description": "Chain-family-specific raw data (only the matching chain family key is present)", "oneOf": [{"type": "object", "properties": {"evm": {"$ref": "#/components/schemas/WalletHistoryEvmRawDto"}}, "required": ["evm"]}, {"type": "object", "properties": {"bitcoin": {"$ref": "#/components/schemas/WalletHistoryBitcoinRawDto"}}, "required": ["bitcoin"]}, {"type": "object", "properties": {"solana": {"nullable": true, "example": null}}, "required": ["solana"]}]}, "meta": {"type": "object", "description": "Extensible metadata placeholder (Universal API convention)", "example": {}}}, "required": ["chainId", "block", "transaction", "raw", "meta"]}, "WalletHistoryMetaDto": {"type": "object", "properties": {"syncedAt": {"type": "object", "description": "Per-chain indexed block height (-1 while real sync metadata is unavailable)", "example": {"0x1": -1}}, "unsupportedChains": {"description": "Chain IDs that were requested but are not supported (null when all chains supported)", "nullable": true, "type": "array", "items": {"type": "string"}}, "failedChains": {"description": "Chain IDs where fetching failed (null when no failures occurred)", "nullable": true, "type": "array", "items": {"type": "string"}}, "missingTransactions": {"type": "object", "description": "Per-chain count of transactions that could not be enriched (null when none missing)", "nullable": true, "example": null}}, "required": ["syncedAt", "unsupportedChains", "failedChains", "missingTransactions"]}, "ActivityMetadataDto": {"type": "object", "properties": {"chain": {"type": "string", "example": "0x1"}, "blockNumber": {"type": "string", "example": "23583751"}, "blockTimestamp": {"type": "string", "example": "2025-10-15T14:41:23.000Z"}, "transactionHash": {"type": "string", "example": "0x..."}, "type": {"type": "string", "example": "token-transfer"}, "direction": {"type": "string", "example": "in"}}, "required": ["chain", "blockNumber", "blockTimestamp", "transactionHash", "type", "direction"]}, "TransferCountsDto": {"type": "object", "properties": {"sent": {"type": "number", "example": 300}, "received": {"type": "number", "example": 150}, "total": {"type": "number", "example": 450}}, "required": ["sent", "received", "total"]}, "UniqueCounterpartiesDto": {"type": "object", "properties": {"sentTo": {"type": "number", "example": 200}, "receivedFrom": {"type": "number", "example": 142}}, "required": ["sentTo", "receivedFrom"]}, "ChainBreakdownEntryDto": {"type": "object", "properties": {"walletAgeDays": {"type": "number", "example": 365}, "firstActivityAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "lastActivityAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "firstInitiatedAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "lastInitiatedAt": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/ActivityMetadataDto"}]}, "activeDays": {"type": "number", "example": 120}, "transactionsInitiated": {"type": "number", "example": 200}, "transactionsInvolved": {"type": "number", "example": 350}, "nativeTransfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "erc20Transfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "nftTransfers": {"$ref": "#/components/schemas/TransferCountsDto"}, "uniqueCounterparties": {"$ref": "#/components/schemas/UniqueCounterpartiesDto"}, "swapVolumeUsd": {"type": "number", "example": 125000.5}, "totalGasSpentUsd": {"type": "string", "example": "3005.67"}, "avgGasPerTransactionUsd": {"type": "string", "example": "0.051"}, "nativeVolumeSentUsd": {"type": "string", "example": "12175.60"}, "nativeVolumeReceivedUsd": {"type": "string", "example": "7305.36"}, "nativeNetFlowUsd": {"type": "string", "example": "-4870.24"}, "uniqueTokensInteracted": {"type": "number", "example": 42}, "contractsCreated": {"type": "number", "example": 3}, "largestNativeTransferInUsd": {"type": "string", "example": "2435.12"}, "largestNativeTransferOutUsd": {"type": "string", "example": "1217.56"}, "chain": {"type": "string", "example": "0x1"}, "totalGasSpentNative": {"type": "string", "example": "1.23456789"}, "avgGasPerTransactionNative": {"type": "string", "example": "0.000021"}, "nativeVolumeSent": {"type": "string", "example": "5.0"}, "nativeVolumeReceived": {"type": "string", "example": "3.0"}, "nativeNetFlow": {"type": "string", "example": "-2.0"}, "largestNativeTransferIn": {"type": "string", "example": "1.0"}, "largestNativeTransferOut": {"type": "string", "example": "0.5"}}, "required": ["walletAgeDays", "firstActivityAt", "lastActivityAt", "firstInitiatedAt", "lastInitiatedAt", "activeDays", "transactionsInitiated", "transactionsInvolved", "nativeTransfers", "erc20Transfers", "nftTransfers", "uniqueCounterparties", "swapVolumeUsd", "totalGasSpentUsd", "avgGasPerTransactionUsd", "nativeVolumeSentUsd", "nativeVolumeReceivedUsd", "nativeNetFlowUsd", "uniqueTokensInteracted", "contractsCreated", "largestNativeTransferInUsd", "largestNativeTransferOutUsd", "chain", "totalGasSpentNative", "avgGasPerTransactionNative", "nativeVolumeSent", "nativeVolumeReceived", "nativeNetFlow", "largestNativeTransferIn", "largestNativeTransferOut"]}, "ChainFailureDto": {"type": "object", "properties": {"chainId": {"type": "string", "description": "Chain ID of the failed chain", "example": "0x89"}, "code": {"type": "string", "description": "Error code for the failed chain", "example": "INTERNAL_SERVER_ERROR"}, "error": {"type": "object", "description": "Error message for the failed chain", "example": "Failed to fetch data from the chain", "nullable": true}}, "required": ["chainId", "code", "error"]}, "UniversalDefiPositionBodyDto": {"type": "object", "properties": {"label": {"type": "string", "enum": ["lending", "liquidity", "staking", "farming", "perps", "vault", "yield", "vesting", "other"]}, "address": {"type": "object", "nullable": true, "description": "On-chain position identifier (pool, obligation, account)"}, "tokens": {"type": "array", "items": {"$ref": "#/components/schemas/UniversalDefiTokenDto"}}, "balanceUsd": {"type": "object", "nullable": true}, "unclaimedUsd": {"type": "object", "nullable": true}, "details": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/PositionDetailsDto"}]}}, "required": ["label", "tokens"]}, "DefiProtocolSummaryDto": {"type": "object", "properties": {"protocolName": {"type": "string"}, "protocolId": {"type": "string"}, "protocolUrl": {"type": "object", "nullable": true}, "protocolLogo": {"type": "object", "nullable": true}, "chainId": {"type": "string", "example": "0x1"}, "totalUsd": {"type": "object", "nullable": true}, "totalUnclaimedUsd": {"type": "object", "nullable": true}, "positionCount": {"type": "number"}}, "required": ["protocolName", "protocolId", "chainId", "positionCount"]}, "SwapsByTokenAddressAmountDto": {"type": "object", "properties": {"address": {"type": "string", "example": "0xe5d7c2a44ffddf6b295a15c148167daaaf5cf34f"}, "name": {"type": "string", "nullable": true, "example": "Wrapped Ether"}, "symbol": {"type": "string", "nullable": true, "example": "WETH"}, "logo": {"type": "string", "nullable": true, "example": "https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png"}, "amount": {"type": "string", "example": "0.000014332429005002", "nullable": true}, "usdPrice": {"type": "number", "example": 3148.1828278180296, "nullable": true}, "usdAmount": {"type": "number", "example": 0.0123, "nullable": true}, "tokenType": {"type": "string", "example": "token1", "nullable": true}}, "required": ["address", "name", "symbol", "logo", "amount", "usdPrice", "usdAmount", "tokenType"]}, "WalletHistoryBlockDto": {"type": "object", "properties": {"number": {"type": "number", "description": "Block number"}, "timestamp": {"type": "string", "description": "Block timestamp (ISO 8601)"}, "hash": {"type": "string", "description": "Block hash"}}, "required": ["number", "timestamp", "hash"]}, "WalletHistoryTransactionDto": {"type": "object", "properties": {"hash": {"type": "string", "description": "Transaction hash"}, "index": {"type": "number", "description": "Transaction index within the block", "nullable": true}, "status": {"type": "string", "description": "Transaction status", "nullable": true}, "direction": {"type": "string", "description": "Transaction direction relative to the queried wallet", "enum": ["incoming", "outgoing", "self"], "nullable": true}, "category": {"type": "string", "description": "Transaction category", "nullable": true}, "summary": {"type": "string", "description": "Human-readable transaction summary", "nullable": true}, "methodLabel": {"type": "string", "description": "Decoded method label from ABI", "nullable": true}, "possibleSpam": {"type": "boolean", "description": "Whether the transaction is likely spam", "nullable": true}, "initiatedBy": {"description": "Address that initiated the transaction (null at tx level on FullTransactionResponse)", "nullable": true, "allOf": [{"$ref": "#/components/schemas/AddressParticipantDto"}]}, "from": {"description": "Transaction sender", "allOf": [{"$ref": "#/components/schemas/AddressParticipantDto"}]}, "to": {"description": "Transaction recipient (null for contract creation transactions)", "nullable": true, "allOf": [{"$ref": "#/components/schemas/AddressParticipantDto"}]}, "fee": {"description": "Transaction fee", "nullable": true, "allOf": [{"$ref": "#/components/schemas/TransactionFeeDto"}]}, "confirmations": {"type": "number", "description": "Number of block confirmations", "nullable": true}, "nativeTransfers": {"type": "object", "description": "Native currency transfers in this transaction", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/NativeTransferDto"}}, "hasMore": {"type": "boolean"}}}, "tokenTransfers": {"type": "object", "description": "Token transfers (ERC20 for EVM)", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/TokenTransferDto"}}, "hasMore": {"type": "boolean"}}}, "nftTransfers": {"type": "object", "description": "NFT transfers in this transaction", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/NftTransferDto"}}, "hasMore": {"type": "boolean"}}}}, "required": ["hash", "index", "status", "direction", "category", "summary", "methodLabel", "possibleSpam", "initiatedBy", "from", "to", "fee", "confirmations", "nativeTransfers", "tokenTransfers", "nftTransfers"]}, "WalletHistoryEvmRawDto": {"type": "object", "properties": {"nonce": {"type": "string", "description": "Sender nonce"}, "transactionType": {"type": "string", "description": "Transaction type (null for legacy)", "nullable": true}, "gas": {"description": "Gas-related fields", "allOf": [{"$ref": "#/components/schemas/WalletHistoryEvmGasDto"}]}, "methodId": {"type": "string", "description": "4-byte function selector from input (null if no input or input too short)", "nullable": true}, "contractAddress": {"type": "string", "description": "Contract address created (null unless contract creation)", "nullable": true}, "receiptStatus": {"type": "string", "description": "Transaction receipt status (null for pre-Byzantium)", "nullable": true}, "input": {"type": "string", "description": "Full transaction input data as hex (verbose only)", "nullable": true}, "decodedInput": {"type": "object", "description": "Decoded input data (verbose only, null if not decoded)", "nullable": true}, "logs": {"type": "object", "description": "Transaction logs capped at 100 items with hasMore flag (verbose only)", "nullable": true, "properties": {"items": {"type": "array", "items": {"type": "object", "properties": {"address": {"type": "string", "description": "Contract address that emitted the log"}, "blockHash": {"type": "string"}, "data": {"type": "string", "description": "Non-indexed parameters as hex"}, "logIndex": {"type": "number"}, "topic0": {"type": "string", "nullable": true}, "topic1": {"type": "string", "nullable": true}, "topic2": {"type": "string", "nullable": true}, "topic3": {"type": "string", "nullable": true}, "transactionHash": {"type": "string"}}}}, "hasMore": {"type": "boolean"}}}, "internalTransactions": {"type": "object", "description": "Internal transactions capped at 100 items with hasMore flag (verbose only)", "nullable": true, "properties": {"items": {"type": "array", "items": {"type": "object"}}, "hasMore": {"type": "boolean"}}}}, "required": ["nonce", "transactionType", "gas", "methodId", "contractAddress", "receiptStatus", "input", "decodedInput", "logs", "internalTransactions"]}, "WalletHistoryBitcoinRawDto": {"type": "object", "properties": {"version": {"type": "number", "description": "Transaction version", "nullable": true}, "size": {"type": "number", "description": "Transaction size in bytes", "nullable": true}, "vsize": {"type": "number", "description": "Virtual size in weight units / 4 (SegWit)", "nullable": true}, "coinbase": {"type": "boolean", "description": "Whether this is a coinbase transaction"}, "rbf": {"type": "boolean", "description": "Whether the transaction signals replace-by-fee (any vin sequence < 0xFFFFFFFE)"}, "inputCount": {"type": "number", "description": "Number of transaction inputs"}, "outputCount": {"type": "number", "description": "Number of transaction outputs"}, "vin": {"type": "array", "description": "Transaction inputs (verbose only)", "nullable": true, "items": {"type": "object", "properties": {"txid": {"type": "string", "nullable": true}, "vout": {"type": "number", "nullable": true}, "sequence": {"type": "number", "nullable": true}, "addresses": {"type": "array", "items": {"type": "string"}, "nullable": true}, "value": {"type": "string", "nullable": true}, "isOwn": {"type": "boolean", "nullable": true}}}}, "vout": {"type": "array", "description": "Transaction outputs (verbose only)", "nullable": true, "items": {"type": "object", "properties": {"n": {"type": "number"}, "addresses": {"type": "array", "items": {"type": "string"}, "nullable": true}, "value": {"type": "string"}, "hex": {"type": "string", "nullable": true}, "spent": {"type": "boolean", "nullable": true}, "isOwn": {"type": "boolean", "nullable": true}}}}}, "required": ["version", "size", "vsize", "coinbase", "rbf", "inputCount", "outputCount", "vin", "vout"]}, "UniversalDefiTokenDto": {"type": "object", "properties": {"tokenType": {"type": "string", "enum": ["supplied", "borrowed", "reward", "lp"]}, "name": {"type": "object", "nullable": true}, "symbol": {"type": "object", "nullable": true}, "address": {"type": "string"}, "decimals": {"type": "object", "nullable": true}, "logo": {"type": "object", "nullable": true}, "balance": {"type": "object", "nullable": true}, "balanceFormatted": {"type": "object", "nullable": true}, "usdPrice": {"type": "object", "nullable": true}, "usdValue": {"type": "object", "nullable": true}}, "required": ["tokenType", "address"]}, "PositionDetailsDto": {"type": "object", "properties": {"type": {"type": "string", "enum": ["lending", "liquidity", "staking", "farming", "perps", "vault", "yield", "vesting", "other"]}, "isDebt": {"type": "boolean"}, "lending": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/LendingDetailsDto"}]}, "liquidity": {"nullable": true, "allOf": [{"$ref": "#/components/schemas/LiquidityDetailsDto"}]}}, "required": ["type", "isDebt"]}, "AddressParticipantDto": {"type": "object", "properties": {"address": {"type": "string", "description": "Wallet or contract address"}, "addressLabel": {"type": "string", "description": "Human-readable label for the address", "nullable": true}, "entity": {"description": "Entity information associated with the address", "nullable": true, "allOf": [{"$ref": "#/components/schemas/AddressEntityDto"}]}}, "required": ["address", "addressLabel", "entity"]}, "TransactionFeeDto": {"type": "object", "properties": {"amount": {"type": "string", "description": "Fee amount formatted to native decimals"}, "amountRaw": {"type": "string", "description": "Raw fee in smallest unit (wei/satoshi)"}}, "required": ["amount", "amountRaw"]}, "NativeTransferDto": {"type": "object", "properties": {"fromAddress": {"type": "string", "description": "Sender address"}, "toAddress": {"type": "string", "description": "Recipient address"}, "amount": {"type": "string", "description": "Amount transferred in native currency"}, "direction": {"type": "string", "description": "Transfer direction relative to the queried wallet", "enum": ["incoming", "outgoing", "self"], "nullable": true}, "isInternal": {"type": "boolean", "description": "Whether this is an internal (trace-level) transfer"}}, "required": ["fromAddress", "toAddress", "amount", "direction", "isInternal"]}, "TokenTransferDto": {"type": "object", "properties": {"fromAddress": {"type": "string", "description": "Sender address"}, "toAddress": {"type": "string", "description": "Recipient address"}, "value": {"type": "string", "description": "Transfer value (raw, in token smallest unit)"}, "direction": {"type": "string", "description": "Transfer direction relative to the queried wallet", "enum": ["incoming", "outgoing", "self"], "nullable": true}, "tokenAddress": {"type": "string", "description": "Token contract address"}, "tokenSymbol": {"type": "string", "description": "Token symbol", "nullable": true}, "tokenName": {"type": "string", "description": "Token name", "nullable": true}, "tokenDecimals": {"type": "number", "description": "Token decimals", "nullable": true}, "tokenLogo": {"type": "string", "description": "Token logo URL", "nullable": true}}, "required": ["fromAddress", "toAddress", "value", "direction", "tokenAddress", "tokenSymbol", "tokenName", "tokenDecimals", "tokenLogo"]}, "NftTransferDto": {"type": "object", "properties": {"fromAddress": {"type": "string", "description": "Sender address"}, "toAddress": {"type": "string", "description": "Recipient address"}, "tokenAddress": {"type": "string", "description": "NFT contract address"}, "tokenId": {"type": "string", "description": "Token ID"}, "amount": {"type": "string", "description": "Amount transferred (1 for ERC721)"}, "direction": {"type": "string", "description": "Transfer direction relative to the queried wallet", "enum": ["incoming", "outgoing", "self"], "nullable": true}, "tokenType": {"type": "string", "description": "Token type (ERC721, ERC1155)"}}, "required": ["fromAddress", "toAddress", "tokenAddress", "tokenId", "amount", "direction", "tokenType"]}, "WalletHistoryEvmGasDto": {"type": "object", "properties": {"gasLimit": {"type": "string", "description": "Gas limit for the transaction"}, "gasUsed": {"type": "string", "description": "Gas actually used by the transaction"}, "gasPrice": {"type": "string", "description": "Gas price in wei"}, "effectiveGasPrice": {"type": "string", "description": "Effective gas price after EIP-1559 (null for legacy txs)", "nullable": true}, "maxFeePerGas": {"type": "string", "description": "Max fee per gas for EIP-1559 (null for legacy txs)", "nullable": true}, "maxPriorityFeePerGas": {"type": "string", "description": "Max priority fee per gas for EIP-1559 (null for legacy txs)", "nullable": true}, "cumulativeGasUsed": {"type": "string", "description": "Cumulative gas used in the block up to this tx", "nullable": true}}, "required": ["gasLimit", "gasUsed", "gasPrice", "effectiveGasPrice", "maxFeePerGas", "maxPriorityFeePerGas", "cumulativeGasUsed"]}, "LendingDetailsDto": {"type": "object", "properties": {"healthFactor": {"type": "object", "nullable": true}}}, "LiquidityDetailsDto": {"type": "object", "properties": {"poolAddress": {"type": "object", "nullable": true}}}, "AddressEntityDto": {"type": "object", "properties": {"id": {"type": "string", "description": "Entity ID"}, "name": {"type": "string", "description": "Entity name"}, "logo": {"type": "string", "description": "Entity logo URL"}}, "required": ["id", "name", "logo"]}}}}