{
  "openapi": "3.0.0",
  "info": {
    "title": "Moralis Bitcoin Data API",
    "description": "Bitcoin-scoped view of the Moralis Universal API. Every endpoint below is a Universal endpoint with chain inputs restricted to Bitcoin for clarity.",
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Moralis API Docs",
    "url": "https://docs.moralis.com"
  },
  "servers": [
    {
      "url": "https://api.moralis.com"
    }
  ],
  "paths": {
    "/v1/chains/{chainAlias}/blocks/{blockIdentifier}": {
      "get": {
        "description": "Returns full Bitcoin block data including transactions, inputs, outputs, and UTXO-level detail.",
        "operationId": "getBlockByNumberOrHash",
        "parameters": [
          {
            "name": "blockIdentifier",
            "required": true,
            "in": "path",
            "description": "Bitcoin block identifier. Accepts either a block height (all-digit values) or a block hash.",
            "examples": {
              "byHeight": {
                "value": "800000"
              },
              "byHash": {
                "value": "0000000000000000000010ec03ff89b4ed4a8d50aaa3e2e29c5b15dcf8a26ddc"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrich",
            "required": false,
            "in": "query",
            "description": "Master switch for ABI decoding enrichment (method labels, decoded logs, decoded input). Defaults to false.",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "includeMethodLabel",
            "required": false,
            "in": "query",
            "description": "Include method labels on transactions (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "decodeInput",
            "required": false,
            "in": "query",
            "description": "Decode transaction input data (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "decodeLogs",
            "required": false,
            "in": "query",
            "description": "Decode log events (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includedTopicZeros",
            "required": false,
            "in": "query",
            "description": "Whitelist logs by topic0 (comma-separated hex values).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "required": false,
            "in": "query",
            "description": "Fields to exclude from response (comma-separated: logs, internalTransactions, tokenTransfers, etc.).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BitcoinBlockDto"
                }
              }
            }
          }
        },
        "summary": "Get a Bitcoin block by height or hash",
        "tags": [
          "Blocks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/chains/{chainAlias}/transactions/{txHash}": {
      "get": {
        "description": "Returns full Bitcoin transaction data including inputs, outputs, and UTXO-level detail.",
        "operationId": "getTransactionByHash",
        "parameters": [
          {
            "name": "txHash",
            "required": true,
            "in": "path",
            "description": "Bitcoin transaction ID (txid).",
            "examples": {
              "bitcoinTxId": {
                "value": "4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrich",
            "required": false,
            "in": "query",
            "description": "Master switch for ABI decoding enrichment (method labels, decoded logs, decoded input). Defaults to false.",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "includeMethodLabel",
            "required": false,
            "in": "query",
            "description": "Include method labels on the transaction (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "decodeInput",
            "required": false,
            "in": "query",
            "description": "Decode transaction input data (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "decodeLogs",
            "required": false,
            "in": "query",
            "description": "Decode log events (overrides enrich).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includedTopicZeros",
            "required": false,
            "in": "query",
            "description": "Whitelist logs by topic0 (comma-separated hex values).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BitcoinTransactionDto"
                }
              }
            }
          }
        },
        "summary": "Get a Bitcoin transaction by txid",
        "tags": [
          "Transactions"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price": {
      "get": {
        "description": "Get the current BTC price and additional market metadata.",
        "operationId": "getTokenPrice",
        "parameters": [
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          },
          {
            "name": "tokenAliasOrTokenAddress",
            "required": true,
            "in": "path",
            "description": "For BTC price, pass `native`.",
            "examples": {
              "btcNative": {
                "value": "native"
              }
            },
            "schema": {
              "type": "string",
              "enum": [
                "native"
              ]
            }
          },
          {
            "name": "toBlock",
            "required": false,
            "in": "query",
            "description": "Block number to check the price from",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxTokenInactivity",
            "required": false,
            "in": "query",
            "description": "Exclude tokens inactive for more than the specified days",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "liquidityThreshold",
            "required": false,
            "in": "query",
            "description": "Minimum liquidity in USD",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenPriceResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get the current BTC price",
        "tags": [
          "Tokens"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price/timeseries": {
      "get": {
        "description": "Get historical BTC price data points suitable for rendering line charts. Supports time intervals from 5 minutes to monthly.",
        "operationId": "getTokenPriceTimeSeries",
        "parameters": [
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          },
          {
            "name": "tokenAliasOrTokenAddress",
            "required": true,
            "in": "path",
            "description": "For BTC price, pass `native`.",
            "examples": {
              "btcNative": {
                "value": "native"
              }
            },
            "schema": {
              "type": "string",
              "enum": [
                "native"
              ]
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The limit per page",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "required": false,
            "in": "query",
            "description": "The time interval for price data points. Defaults to 5m if not provided.",
            "schema": {
              "default": "5m",
              "example": "hourly",
              "enum": [
                "5m",
                "hourly",
                "daily",
                "weekly",
                "monthly"
              ],
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "required": false,
            "in": "query",
            "description": "The starting date (format in seconds or datestring accepted by momentjs). Defaults to 24 hours before toDate if not provided.",
            "schema": {
              "example": "2025-01-01T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "required": false,
            "in": "query",
            "description": "The ending date (format in seconds or datestring accepted by momentjs). Defaults to now if not provided.",
            "schema": {
              "example": "2025-01-07T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "forwardFill",
            "required": false,
            "in": "query",
            "description": "When true, fills gaps in the time series with interpolated values",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenPriceTimeSeriesResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get historical BTC price time-series",
        "tags": [
          "Tokens"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/chains/{chainAlias}/tokens/{tokenAliasOrTokenAddress}/price/sparkline": {
      "get": {
        "description": "Get a small set of recent BTC price points suitable for sparkline charts. Returns a fixed number of points based on the selected range.",
        "operationId": "getTokenPriceSparkline",
        "parameters": [
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          },
          {
            "name": "tokenAliasOrTokenAddress",
            "required": true,
            "in": "path",
            "description": "For BTC price, pass `native`.",
            "examples": {
              "btcNative": {
                "value": "native"
              }
            },
            "schema": {
              "type": "string",
              "enum": [
                "native"
              ]
            }
          },
          {
            "name": "range",
            "required": true,
            "in": "query",
            "description": "The time range for the sparkline. Determines the interval and window size.",
            "schema": {
              "example": "7d",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "1y"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenPriceSparklineResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get sparkline BTC price data",
        "tags": [
          "Tokens"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/wallets/{walletAddressOrPublicKey}/tokens": {
      "get": {
        "description": "Get native BTC balances for a Bitcoin address or xpub. When an xpub is supplied, balances are aggregated across all derived addresses server-side.",
        "operationId": "getTokenBalances",
        "parameters": [
          {
            "name": "walletAddressOrPublicKey",
            "required": true,
            "in": "path",
            "description": "A Bitcoin address or an xpub. When an xpub is supplied, the API derives all addresses server-side.",
            "examples": {
              "bitcoinAddress": {
                "value": "bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
              },
              "bitcoinXpub": {
                "value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chains",
            "required": false,
            "in": "query",
            "description": "Chains to query. For the Bitcoin API, pass `bitcoin`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bitcoin"
                ]
              }
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The limit per page",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "tokenAddresses",
            "required": false,
            "in": "query",
            "description": "The token addresses to be filtered in",
            "schema": {
              "example": [
                "0xdac17f958d2ee523a2206206994597c13d831ec7"
              ],
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "excludeSpam",
            "required": false,
            "in": "query",
            "description": "Should exclude spam contract",
            "schema": {
              "default": false,
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "excludeUnverifiedContracts",
            "required": false,
            "in": "query",
            "description": "Should exclude unverified contract",
            "schema": {
              "default": false,
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "excludeNative",
            "required": false,
            "in": "query",
            "description": "Should exclude native contract",
            "schema": {
              "default": false,
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "maxTokenInactivity",
            "required": false,
            "in": "query",
            "description": "Should filter out contract exceeding max token inactivity",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "liquidityThreshold",
            "required": false,
            "in": "query",
            "description": "Should filter out contract under liquidity threshold",
            "schema": {
              "example": 0,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenBalancesResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get BTC balances for a Bitcoin address or xpub",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/wallets/{walletAddressOrPublicKey}/history": {
      "get": {
        "description": "Get Bitcoin transaction history for a wallet. The wallet identifier accepts either a Bitcoin address or an xpub - when an xpub is supplied, history is aggregated across all derived addresses server-side.\n\n**Supported chain family:** Bitcoin (native BTC transfers).",
        "operationId": "getWalletHistory",
        "parameters": [
          {
            "name": "walletAddressOrPublicKey",
            "required": true,
            "in": "path",
            "description": "A Bitcoin address or an xpub. When an xpub is supplied, the API derives all addresses server-side.",
            "examples": {
              "bitcoinAddress": {
                "value": "bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
              },
              "bitcoinXpub": {
                "value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chains",
            "required": false,
            "in": "query",
            "description": "Chains to query. For the Bitcoin API, pass `bitcoin`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bitcoin"
                ]
              }
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The limit per page",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "required": false,
            "in": "query",
            "description": "The order of items",
            "schema": {
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "required": false,
            "in": "query",
            "description": "The start date from which to get the wallet history (format in seconds or string accepted by momentjs)\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "required": false,
            "in": "query",
            "description": "The end date from which to get the wallet history (format in seconds or string accepted by momentjs)\n* Provide the param 'toBlock' or 'toDate'\n* If 'toDate' and 'toBlock' are provided, 'toBlock' will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromBlock",
            "required": false,
            "in": "query",
            "description": "The minimum block number from which to get the wallet history\n* Provide the param 'fromBlock' or 'fromDate'\n* If 'fromDate' and 'fromBlock' are provided, 'fromBlock' will be used.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "toBlock",
            "required": false,
            "in": "query",
            "description": "The block number to get the wallet history until",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "verbose",
            "required": false,
            "in": "query",
            "description": "When true, returns full raw chain-specific data including logs, input data, and vin/vout arrays. Array fields are capped at 100 items with a hasMore flag.",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWalletHistoryResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get Bitcoin wallet transaction history",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/chains/{chainAlias}/wallets/{publicKey}/addresses": {
      "get": {
        "description": "Returns every derived address along with its transfer count for a given Bitcoin xpub key.",
        "operationId": "getAddressesByXpub",
        "parameters": [
          {
            "name": "publicKey",
            "required": true,
            "in": "path",
            "description": "A Bitcoin extended public key (xpub).",
            "examples": {
              "bitcoinXpub": {
                "value": "xpub6CUGRUonZSQ4TWtTMmzXdrXDtypWKiKrhko4egpiMZbpiaQL2jkwSB1icqYh2cfDfVxdx4df189oLKnC5fSwqPfgyP3hooxujYzAu3fDVmz"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "required": true,
            "in": "path",
            "description": "Bitcoin chain alias. Pass `bitcoin` or `bitcoin-mainnet`.",
            "schema": {
              "type": "string",
              "enum": [
                "bitcoin",
                "bitcoin-mainnet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressesByXpubResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get derived Bitcoin addresses from an xpub",
        "tags": [
          "Bitcoin"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "GetAddressesByXpubResponseDto": {
        "type": "object",
        "properties": {
          "addresses": {
            "description": "Derived addresses from the xpub key",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XpubDerivedAddressDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "addresses",
          "meta"
        ]
      },
      "EvmBlockDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "description": "Page number (always 1, no pagination)"
          },
          "totalPages": {
            "type": "number",
            "description": "Total pages (always 1)"
          },
          "itemsOnPage": {
            "type": "number",
            "description": "Number of transactions on this page (equals txCount)"
          },
          "hash": {
            "type": "string",
            "description": "Block hash"
          },
          "previousBlockHash": {
            "type": "string",
            "description": "Parent block hash"
          },
          "height": {
            "type": "number",
            "description": "Block height (block number as integer)"
          },
          "size": {
            "type": "number",
            "description": "Block size in bytes"
          },
          "time": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "txCount": {
            "type": "number",
            "description": "Number of transactions"
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "EVM",
              "Bitcoin",
              "Solana"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "txs": {
            "description": "Full transaction list",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvmTransactionDto"
            }
          },
          "evmSpecific": {
            "description": "EVM-specific block fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/EvmBlockSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "page",
          "totalPages",
          "itemsOnPage",
          "hash",
          "previousBlockHash",
          "height",
          "size",
          "time",
          "txCount",
          "chainFamily",
          "txs",
          "evmSpecific",
          "meta"
        ]
      },
      "BitcoinBlockDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "description": "Page number (always 1, no pagination)"
          },
          "totalPages": {
            "type": "number",
            "description": "Total pages (always 1)"
          },
          "itemsOnPage": {
            "type": "number",
            "description": "Number of transactions on this page (equals txCount)"
          },
          "hash": {
            "type": "string",
            "description": "Block hash"
          },
          "previousBlockHash": {
            "type": "string",
            "description": "Parent block hash"
          },
          "height": {
            "type": "number",
            "description": "Block height (block number as integer)"
          },
          "size": {
            "type": "number",
            "description": "Block size in bytes"
          },
          "time": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "txCount": {
            "type": "number",
            "description": "Number of transactions"
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "Bitcoin"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "txs": {
            "description": "Full transaction list",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BitcoinTransactionDto"
            }
          },
          "bitcoinSpecific": {
            "description": "Bitcoin-specific block fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/BitcoinBlockSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "page",
          "totalPages",
          "itemsOnPage",
          "hash",
          "previousBlockHash",
          "height",
          "size",
          "time",
          "txCount",
          "chainFamily",
          "txs",
          "bitcoinSpecific",
          "meta"
        ]
      },
      "SolanaBlockDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "description": "Page number (always 1, no pagination)"
          },
          "totalPages": {
            "type": "number",
            "description": "Total pages (always 1)"
          },
          "itemsOnPage": {
            "type": "number",
            "description": "Number of transactions on this page (equals txCount)"
          },
          "hash": {
            "type": "string",
            "description": "Block hash"
          },
          "previousBlockHash": {
            "type": "string",
            "description": "Parent block hash"
          },
          "height": {
            "type": "number",
            "description": "Block height (block number as integer)"
          },
          "size": {
            "type": "number",
            "description": "Block size in bytes"
          },
          "time": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "txCount": {
            "type": "number",
            "description": "Number of transactions"
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "EVM",
              "Bitcoin",
              "Solana"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "txs": {
            "description": "Full transaction list",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SolanaTransactionDto"
            }
          },
          "solanaSpecific": {
            "description": "Solana-specific block fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/SolanaBlockSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "page",
          "totalPages",
          "itemsOnPage",
          "hash",
          "previousBlockHash",
          "height",
          "size",
          "time",
          "txCount",
          "chainFamily",
          "txs",
          "solanaSpecific",
          "meta"
        ]
      },
      "EvmTransactionDto": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string",
            "description": "Transaction hash"
          },
          "vin": {
            "description": "Transaction inputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VinDto"
            }
          },
          "vout": {
            "description": "Transaction outputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoutDto"
            }
          },
          "blockHash": {
            "type": "string",
            "nullable": true,
            "description": "Block hash (null for unconfirmed/mempool transactions)"
          },
          "blockHeight": {
            "type": "number",
            "description": "Block height"
          },
          "blockTime": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "value": {
            "type": "string",
            "description": "Value transferred"
          },
          "fees": {
            "type": "string",
            "description": "Transaction fee"
          },
          "tokenTransfers": {
            "nullable": true,
            "description": "Token transfers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleTokenTransferDto"
            }
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "EVM",
              "Bitcoin",
              "Solana"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "evmSpecific": {
            "description": "EVM-specific transaction fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/EvmTransactionSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "txid",
          "vin",
          "vout",
          "blockHash",
          "blockHeight",
          "blockTime",
          "value",
          "fees",
          "tokenTransfers",
          "chainFamily",
          "evmSpecific",
          "meta"
        ]
      },
      "BitcoinTransactionDto": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string",
            "description": "Transaction hash"
          },
          "vin": {
            "description": "Transaction inputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VinDto"
            }
          },
          "vout": {
            "description": "Transaction outputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoutDto"
            }
          },
          "blockHash": {
            "type": "string",
            "nullable": true,
            "description": "Block hash (null for unconfirmed/mempool transactions)"
          },
          "blockHeight": {
            "type": "number",
            "description": "Block height"
          },
          "blockTime": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "value": {
            "type": "string",
            "description": "Value transferred"
          },
          "fees": {
            "type": "string",
            "description": "Transaction fee"
          },
          "tokenTransfers": {
            "nullable": true,
            "description": "Token transfers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleTokenTransferDto"
            }
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "Bitcoin"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "bitcoinSpecific": {
            "description": "Bitcoin-specific transaction fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/BitcoinTransactionSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "txid",
          "vin",
          "vout",
          "blockHash",
          "blockHeight",
          "blockTime",
          "value",
          "fees",
          "tokenTransfers",
          "chainFamily",
          "bitcoinSpecific",
          "meta"
        ]
      },
      "SolanaTransactionDto": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string",
            "description": "Transaction hash"
          },
          "vin": {
            "description": "Transaction inputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VinDto"
            }
          },
          "vout": {
            "description": "Transaction outputs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoutDto"
            }
          },
          "blockHash": {
            "type": "string",
            "nullable": true,
            "description": "Block hash (null for unconfirmed/mempool transactions)"
          },
          "blockHeight": {
            "type": "number",
            "description": "Block height"
          },
          "blockTime": {
            "type": "number",
            "description": "Block timestamp as Unix seconds"
          },
          "value": {
            "type": "string",
            "description": "Value transferred"
          },
          "fees": {
            "type": "string",
            "description": "Transaction fee"
          },
          "tokenTransfers": {
            "nullable": true,
            "description": "Token transfers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleTokenTransferDto"
            }
          },
          "chainFamily": {
            "type": "string",
            "enum": [
              "EVM",
              "Bitcoin",
              "Solana"
            ],
            "description": "Chain family discriminator used to identify the response variant"
          },
          "solanaSpecific": {
            "description": "Solana-specific transaction fields",
            "allOf": [
              {
                "$ref": "#/components/schemas/SolanaTransactionSpecificDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "txid",
          "vin",
          "vout",
          "blockHash",
          "blockHeight",
          "blockTime",
          "value",
          "fees",
          "tokenTransfers",
          "chainFamily",
          "solanaSpecific",
          "meta"
        ]
      },
      "GetCandleSticksResponseDto": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          },
          "page": {
            "type": "number",
            "description": "The current page number",
            "example": 1
          },
          "pairAddress": {
            "type": "string",
            "description": "The pair address",
            "example": "0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852"
          },
          "tokenAddress": {
            "type": "object",
            "description": "The token address",
            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
            "nullable": true
          },
          "timeframe": {
            "type": "string",
            "description": "The time interval of the candles",
            "example": "1h"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the candles",
            "example": "usd"
          },
          "result": {
            "description": "The list of candles",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandleDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "cursor",
          "page",
          "pairAddress",
          "tokenAddress",
          "timeframe",
          "currency",
          "result",
          "meta"
        ]
      },
      "UniversalDefiResponseDto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MultiChainResponseMetaDto"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UniversalDefiPositionDto"
            }
          },
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          }
        },
        "required": [
          "meta",
          "result",
          "cursor"
        ]
      },
      "UniversalDefiProtocolPositionsResponseDto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MultiChainResponseMetaDto"
          },
          "result": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/UniversalDefiProtocolDto"
              }
            ]
          },
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          }
        },
        "required": [
          "meta",
          "cursor"
        ]
      },
      "UniversalDefiSummaryResponseDto": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MultiChainResponseMetaDto"
          },
          "result": {
            "$ref": "#/components/schemas/DefiSummaryResultDto"
          }
        },
        "required": [
          "meta",
          "result"
        ]
      },
      "GetSwapsByPairAddressResponseDto": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          },
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 100
          },
          "exchangeName": {
            "type": "string",
            "nullable": true,
            "example": "Raydium AMM v4"
          },
          "exchangeLogo": {
            "type": "string",
            "nullable": true,
            "example": "https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png"
          },
          "exchangeAddress": {
            "type": "string",
            "nullable": true,
            "example": "0x1f98431c8ad98523631ae4a59f267346ea31f984"
          },
          "pairLabel": {
            "type": "string",
            "nullable": true,
            "example": "BRETT/WETH"
          },
          "pairAddress": {
            "type": "string",
            "nullable": true,
            "example": "0x36a46dff597c5a444bbc521d26787f57867d2214"
          },
          "baseToken": {
            "$ref": "#/components/schemas/SwapsByPairAddressTokenMetadataDto"
          },
          "quoteToken": {
            "$ref": "#/components/schemas/SwapsByPairAddressTokenMetadataDto"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SwapByPairAddressItemDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "cursor",
          "page",
          "pageSize",
          "exchangeName",
          "exchangeLogo",
          "exchangeAddress",
          "pairLabel",
          "pairAddress",
          "baseToken",
          "quoteToken",
          "result",
          "meta"
        ]
      },
      "GetSwapsByTokenAddressResponseDto": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          },
          "page": {
            "type": "number",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "example": 100
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SwapByTokenAddressItemDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "cursor",
          "page",
          "pageSize",
          "result",
          "meta"
        ]
      },
      "GetTokenPriceResponseDto": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "description": "The chain alias",
            "example": "eth"
          },
          "tokenName": {
            "type": "string",
            "description": "The token name",
            "example": "Pepe"
          },
          "tokenSymbol": {
            "type": "string",
            "description": "The token symbol",
            "example": "PEPE"
          },
          "tokenAddress": {
            "type": "string",
            "description": "The token contract address",
            "example": "0x6982508145454ce325ddbe47a25d4ec3d2311933",
            "nullable": true
          },
          "tokenLogo": {
            "type": "string",
            "description": "The token logo URL",
            "nullable": true,
            "example": "https://logo.moralis.io/0x1_0x69825081454ce6d19f71c224cba025989229.jpeg"
          },
          "tokenDecimals": {
            "type": "number",
            "description": "The token decimals",
            "example": 18
          },
          "usdPrice": {
            "type": "number",
            "description": "The USD price",
            "example": 2534.12
          },
          "24hrChangeUsd": {
            "type": "number",
            "description": "The 24hr USD price change",
            "example": 35.82
          },
          "24hrChangePercent": {
            "type": "number",
            "description": "The 24hr price percent change",
            "example": 1.43
          },
          "nativePrice": {
            "description": "The native price information",
            "allOf": [
              {
                "$ref": "#/components/schemas/NativePriceDto"
              }
            ]
          },
          "verifiedContract": {
            "type": "boolean",
            "description": "Whether the contract is verified",
            "example": true
          },
          "securityScore": {
            "type": "number",
            "description": "The security score",
            "example": 99
          },
          "possibleSpam": {
            "type": "boolean",
            "description": "Whether the token is possibly spam",
            "example": false
          },
          "updatedAt": {
            "description": "Information about when the price was last updated",
            "allOf": [
              {
                "$ref": "#/components/schemas/UpdatedAtDto"
              }
            ]
          },
          "dexInformation": {
            "description": "DEX exchange and pair information (null for Bitcoin)",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DexInformationDto"
              }
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "chain",
          "tokenName",
          "tokenSymbol",
          "tokenAddress",
          "tokenLogo",
          "tokenDecimals",
          "usdPrice",
          "24hrChangeUsd",
          "24hrChangePercent",
          "nativePrice",
          "verifiedContract",
          "securityScore",
          "possibleSpam",
          "updatedAt",
          "dexInformation",
          "meta"
        ]
      },
      "GetTokenPriceSparklineResponseDto": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "description": "The resolved blockchain chain ID",
            "example": "bitcoin"
          },
          "range": {
            "type": "string",
            "description": "The sparkline range used for this result",
            "enum": [
              "24h",
              "7d",
              "30d",
              "90d",
              "1y"
            ],
            "example": "7d"
          },
          "fromDate": {
            "type": "string",
            "description": "ISO-8601 timestamp of the computed window start",
            "example": "2025-01-01T00:00:00.000Z"
          },
          "toDate": {
            "type": "string",
            "description": "ISO-8601 timestamp of the computed window end",
            "example": "2025-01-08T00:00:00.000Z"
          },
          "page": {
            "type": "number",
            "description": "Always 1. Sparkline responses are not paginated.",
            "example": 1
          },
          "cursor": {
            "type": "object",
            "description": "Always null. Sparkline responses are not paginated.",
            "nullable": true,
            "example": null
          },
          "result": {
            "description": "Array of price data points",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceTimeSeriesItemDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "chain",
          "range",
          "fromDate",
          "toDate",
          "page",
          "cursor",
          "result",
          "meta"
        ]
      },
      "GetTokenPriceTimeSeriesResponseDto": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          },
          "chain": {
            "type": "string",
            "description": "The blockchain network chain ID",
            "example": "bitcoin"
          },
          "fromDate": {
            "type": "string",
            "description": "The starting date of the time series in ISO 8601 format",
            "example": "2025-01-01T00:00:00.000Z"
          },
          "toDate": {
            "type": "string",
            "description": "The ending date of the time series in ISO 8601 format",
            "example": "2025-01-07T00:00:00.000Z"
          },
          "interval": {
            "type": "string",
            "description": "The time interval used for the price data points",
            "enum": [
              "5m",
              "hourly",
              "daily",
              "weekly",
              "monthly"
            ],
            "example": "5m"
          },
          "page": {
            "type": "number",
            "description": "The current page number",
            "example": 1
          },
          "result": {
            "description": "The list of price data points",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceTimeSeriesItemDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SingleChainResponseMetaDto"
          }
        },
        "required": [
          "cursor",
          "chain",
          "fromDate",
          "toDate",
          "interval",
          "page",
          "result",
          "meta"
        ]
      },
      "GetTokenBalancesResponseDto": {
        "type": "object",
        "properties": {
          "meta": {
            "description": "Metadata about the multi-chain request",
            "allOf": [
              {
                "$ref": "#/components/schemas/MultiChainResponseMetaDto"
              }
            ]
          },
          "address": {
            "type": "string",
            "description": "The wallet address",
            "example": "0xcb1c1fde09f811b294172696404e88e658659905"
          },
          "addressType": {
            "type": "string",
            "description": "The wallet address type",
            "enum": [
              "bitcoin"
            ],
            "example": "evm"
          },
          "cursor": {
            "type": "string",
            "description": "The cursor to be used for getting the next page of results",
            "nullable": true,
            "example": "eyJhbGciOi...VCaaw"
          },
          "result": {
            "description": "The list of items",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainBalanceDto"
            }
          }
        },
        "required": [
          "meta",
          "address",
          "addressType",
          "cursor",
          "result"
        ]
      },
      "GetWalletHistoryResponseDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The queried wallet address",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          },
          "addressType": {
            "type": "string",
            "description": "The wallet address type",
            "enum": [
              "bitcoin"
            ],
            "example": "evm"
          },
          "cursor": {
            "type": "string",
            "description": "Opaque cursor token for pagination (null when no more pages)",
            "nullable": true
          },
          "page": {
            "type": "number",
            "description": "Current page number (1-indexed)",
            "example": 1
          },
          "pageSize": {
            "type": "number",
            "description": "Number of items in this page"
          },
          "result": {
            "description": "Array of wallet history items",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletHistoryItemDto"
            }
          },
          "meta": {
            "description": "Response metadata with sync status and diagnostics",
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletHistoryMetaDto"
              }
            ]
          }
        },
        "required": [
          "address",
          "addressType",
          "cursor",
          "page",
          "pageSize",
          "result",
          "meta"
        ]
      },
      "GetWalletInsightResponseDto": {
        "type": "object",
        "properties": {
          "walletAgeDays": {
            "type": "number",
            "example": 365
          },
          "firstActivityAt": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityMetadataDto"
              }
            ]
          },
          "lastActivityAt": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityMetadataDto"
              }
            ]
          },
          "firstInitiatedAt": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityMetadataDto"
              }
            ]
          },
          "lastInitiatedAt": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityMetadataDto"
              }
            ]
          },
          "activeDays": {
            "type": "number",
            "example": 120
          },
          "transactionsInitiated": {
            "type": "number",
            "example": 200
          },
          "transactionsInvolved": {
            "type": "number",
            "example": 350
          },
          "nativeTransfers": {
            "$ref": "#/components/schemas/TransferCountsDto"
          },
          "erc20Transfers": {
            "$ref": "#/components/schemas/TransferCountsDto"
          },
          "nftTransfers": {
            "$ref": "#/components/schemas/TransferCountsDto"
          },
          "uniqueCounterparties": {
            "$ref": "#/components/schemas/UniqueCounterpartiesDto"
          },
          "swapVolumeUsd": {
            "type": "number",
            "example": 125000.5
          },
          "totalGasSpentUsd": {
            "type": "string",
            "example": "3005.67"
          },
          "avgGasPerTransactionUsd": {
            "type": "string",
            "example": "0.051"
          },
          "nativeVolumeSentUsd": {
            "type": "string",
            "example": "12175.60"
          },
          "nativeVolumeReceivedUsd": {
            "type": "string",
            "example": "7305.36"
          },
          "nativeNetFlowUsd": {
            "type": "string",
            "example": "-4870.24"
          },
          "uniqueTokensInteracted": {
            "type": "number",
            "example": 42
          },
          "contractsCreated": {
            "type": "number",
            "example": 3
          },
          "largestNativeTransferInUsd": {
            "type": "string",
            "example": "2435.12"
          },
          "largestNativeTransferOutUsd": {
            "type": "string",
            "example": "1217.56"
          },
          "meta": {
            "$ref": "#/components/schemas/MultiChainResponseMetaDto"
          },
          "address": {
            "type": "string",
            "example": "0x1234..."
          },
          "addressType": {
            "type": "string",
            "example": "evm"
          },
          "activeChains": {
            "type": "number",
            "example": 5
          },
          "mostActiveChain": {
            "type": "string",
            "nullable": true,
            "example": "0x1"
          },
          "chainBreakdown": {
            "nullable": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainBreakdownEntryDto"
            }
          }
        },
        "required": [
          "walletAgeDays",
          "firstActivityAt",
          "lastActivityAt",
          "firstInitiatedAt",
          "lastInitiatedAt",
          "activeDays",
          "transactionsInitiated",
          "transactionsInvolved",
          "nativeTransfers",
          "erc20Transfers",
          "nftTransfers",
          "uniqueCounterparties",
          "swapVolumeUsd",
          "totalGasSpentUsd",
          "avgGasPerTransactionUsd",
          "nativeVolumeSentUsd",
          "nativeVolumeReceivedUsd",
          "nativeNetFlowUsd",
          "uniqueTokensInteracted",
          "contractsCreated",
          "largestNativeTransferInUsd",
          "largestNativeTransferOutUsd",
          "meta",
          "address",
          "addressType",
          "activeChains",
          "mostActiveChain",
          "chainBreakdown"
        ]
      },
      "XpubDerivedAddressDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The derived Bitcoin address",
            "example": "1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
          },
          "path": {
            "type": "string",
            "description": "BIP44 derivation path",
            "example": "m/44'/0'/0'/0/0"
          },
          "transfers": {
            "type": "number",
            "description": "Number of transactions involving this address",
            "example": 3
          }
        },
        "required": [
          "address",
          "path",
          "transfers"
        ]
      },
      "SingleChainResponseMetaDto": {
        "type": "object",
        "properties": {
          "syncedAt": {
            "type": "object",
            "description": "Last ingested block number per chain ID",
            "additionalProperties": {
              "type": "number"
            },
            "example": {
              "bitcoin": "latest"
            }
          }
        },
        "required": [
          "syncedAt"
        ]
      },
      "EvmBlockSpecificDto": {
        "type": "object",
        "properties": {
          "baseFeePerGas": {
            "type": "string",
            "nullable": true,
            "description": "Base fee per gas (EIP-1559, post-London)"
          },
          "difficulty": {
            "type": "string",
            "nullable": true,
            "description": "Block difficulty (also present on Bitcoin blocks)"
          },
          "extraData": {
            "type": "string",
            "nullable": true,
            "description": "Extra data field"
          },
          "gasLimit": {
            "type": "string",
            "nullable": true,
            "description": "Block gas limit"
          },
          "gasUsed": {
            "type": "string",
            "nullable": true,
            "description": "Total gas used in block"
          },
          "logsBloom": {
            "type": "string",
            "nullable": true,
            "description": "Logs bloom filter"
          },
          "miner": {
            "type": "string",
            "nullable": true,
            "description": "Block miner / proposer address"
          },
          "nonce": {
            "type": "string",
            "nullable": true,
            "description": "Block nonce (0x0000000000000000 post-merge)"
          },
          "mixHash": {
            "type": "string",
            "nullable": true,
            "description": "Mix hash for PoW verification"
          },
          "receiptsRoot": {
            "type": "string",
            "nullable": true,
            "description": "Receipts root hash"
          },
          "sha3Uncles": {
            "type": "string",
            "nullable": true,
            "description": "SHA3 of uncles data"
          },
          "stateRoot": {
            "type": "string",
            "nullable": true,
            "description": "State root hash"
          },
          "totalDifficulty": {
            "type": "string",
            "nullable": true,
            "description": "Total cumulative chain difficulty"
          },
          "transactionsRoot": {
            "type": "string",
            "nullable": true,
            "description": "Transactions root hash"
          },
          "uncles": {
            "type": "string",
            "nullable": true,
            "description": "Uncle block hashes (JSON array as string)"
          },
          "withdrawalsRoot": {
            "type": "string",
            "nullable": true,
            "description": "Withdrawals root hash (post-Shanghai)"
          }
        },
        "required": [
          "baseFeePerGas",
          "difficulty",
          "extraData",
          "gasLimit",
          "gasUsed",
          "logsBloom",
          "miner",
          "nonce",
          "mixHash",
          "receiptsRoot",
          "sha3Uncles",
          "stateRoot",
          "totalDifficulty",
          "transactionsRoot",
          "uncles",
          "withdrawalsRoot"
        ]
      },
      "BitcoinBlockSpecificDto": {
        "type": "object",
        "properties": {
          "bits": {
            "type": "string",
            "nullable": true,
            "description": "Target difficulty bits in compact representation"
          },
          "chainwork": {
            "type": "string",
            "nullable": true,
            "description": "Cumulative chain work \u2014 total proof-of-work"
          },
          "difficulty": {
            "type": "string",
            "nullable": true,
            "description": "Block difficulty"
          },
          "merkleRoot": {
            "type": "string",
            "nullable": true,
            "description": "Merkle root of all transactions"
          },
          "miner": {
            "type": "string",
            "nullable": true,
            "description": "Coinbase/miner address"
          },
          "nonce": {
            "type": "string",
            "nullable": true,
            "description": "Block nonce"
          },
          "weight": {
            "type": "string",
            "nullable": true,
            "description": "Block weight \u2014 SegWit metric"
          },
          "witnessCommitment": {
            "type": "string",
            "nullable": true,
            "description": "SegWit witness commitment (BIP 141)"
          }
        },
        "required": [
          "bits",
          "chainwork",
          "difficulty",
          "merkleRoot",
          "miner",
          "nonce",
          "weight",
          "witnessCommitment"
        ]
      },
      "SolanaBlockSpecificDto": {
        "type": "object",
        "properties": {
          "miscJson": {
            "type": "string",
            "nullable": true,
            "description": "Raw chain-specific block data as JSON. Provisional \u2014 structure subject to change when SDK adds explicit Solana block fields."
          }
        },
        "required": [
          "miscJson"
        ]
      },
      "VinDto": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string",
            "nullable": true,
            "description": "UTXO input transaction ID (Bitcoin only)"
          },
          "vout": {
            "type": "number",
            "nullable": true,
            "description": "UTXO output index spent by this input (Bitcoin only)"
          },
          "sequence": {
            "type": "number",
            "nullable": true,
            "description": "UTXO input sequence number (Bitcoin only)"
          },
          "n": {
            "type": "number",
            "description": "Input index (always 0 for account-model chains)"
          },
          "addresses": {
            "description": "Sender addresses",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAddress": {
            "type": "boolean",
            "description": "Whether addresses are valid"
          },
          "value": {
            "type": "string",
            "nullable": true,
            "description": "Input value (UTXO inputs)"
          },
          "hex": {
            "type": "string",
            "nullable": true,
            "description": "Script hex (Bitcoin only)"
          }
        },
        "required": [
          "txid",
          "vout",
          "sequence",
          "n",
          "addresses",
          "isAddress",
          "value",
          "hex"
        ]
      },
      "VoutDto": {
        "type": "object",
        "properties": {
          "n": {
            "type": "number",
            "description": "Output index"
          },
          "value": {
            "type": "string",
            "description": "Output value"
          },
          "addresses": {
            "description": "Recipient addresses",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAddress": {
            "type": "boolean",
            "description": "Whether addresses are valid"
          },
          "spent": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether output is spent (UTXO only)"
          },
          "hex": {
            "type": "string",
            "nullable": true,
            "description": "Script hex (Bitcoin only)"
          }
        },
        "required": [
          "n",
          "value",
          "addresses",
          "isAddress",
          "spent",
          "hex"
        ]
      },
      "SimpleTokenTransferDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Token type (ERC20, ERC721, etc.)"
          },
          "from": {
            "type": "string",
            "description": "Sender address"
          },
          "to": {
            "type": "string",
            "description": "Recipient address"
          },
          "token": {
            "type": "string",
            "description": "Token contract address"
          },
          "name": {
            "type": "string",
            "description": "Token name"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "decimals": {
            "type": "number",
            "description": "Token decimals"
          },
          "value": {
            "type": "string",
            "description": "Amount transferred"
          }
        },
        "required": [
          "type",
          "from",
          "to",
          "token",
          "name",
          "symbol",
          "decimals",
          "value"
        ]
      },
      "EvmTransactionSpecificDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number",
            "description": "Transaction status (1 = success, 0 = failure)"
          },
          "nonce": {
            "type": "number",
            "description": "Transaction nonce"
          },
          "gasLimit": {
            "type": "number",
            "description": "Gas limit provided"
          },
          "gasUsed": {
            "type": "number",
            "description": "Gas actually used"
          },
          "gasPrice": {
            "type": "string",
            "description": "Gas price in wei"
          },
          "data": {
            "type": "string",
            "description": "Transaction input data as hex"
          },
          "effectiveGasPrice": {
            "type": "string",
            "nullable": true,
            "description": "Effective gas price (EIP-1559)"
          },
          "maxFeePerGas": {
            "type": "string",
            "nullable": true,
            "description": "Max fee per gas (EIP-1559)"
          },
          "maxPriorityFeePerGas": {
            "type": "string",
            "nullable": true,
            "description": "Max priority fee per gas (EIP-1559)"
          },
          "cumulativeGasUsed": {
            "type": "string",
            "nullable": true,
            "description": "Cumulative gas used in block up to this transaction"
          },
          "transactionType": {
            "type": "string",
            "nullable": true,
            "description": "Transaction type (0 = legacy, 1 = EIP-2930, 2 = EIP-1559, 3 = EIP-4844)"
          },
          "contractAddress": {
            "type": "string",
            "nullable": true,
            "description": "Contract address created (if contract creation)"
          }
        },
        "required": [
          "status",
          "nonce",
          "gasLimit",
          "gasUsed",
          "gasPrice",
          "data",
          "effectiveGasPrice",
          "maxFeePerGas",
          "maxPriorityFeePerGas",
          "cumulativeGasUsed",
          "transactionType",
          "contractAddress"
        ]
      },
      "BitcoinTransactionSpecificDto": {
        "type": "object",
        "properties": {
          "version": {
            "type": "number",
            "nullable": true,
            "description": "Transaction version"
          },
          "locktime": {
            "type": "number",
            "nullable": true,
            "description": "Transaction locktime"
          },
          "weight": {
            "type": "number",
            "nullable": true,
            "description": "Transaction weight (SegWit)"
          },
          "vsize": {
            "type": "number",
            "nullable": true,
            "description": "Virtual size in vbytes"
          },
          "valueIn": {
            "type": "string",
            "nullable": true,
            "description": "Total input value in satoshis"
          },
          "hex": {
            "type": "string",
            "nullable": true,
            "description": "Raw transaction hex"
          },
          "miscJson": {
            "type": "string",
            "nullable": true,
            "description": "Raw Blockbook miscJson. Null when successfully parsed into structured fields (vin/vout, version, locktime, etc.)"
          }
        },
        "required": [
          "version",
          "locktime",
          "weight",
          "vsize",
          "valueIn",
          "hex",
          "miscJson"
        ]
      },
      "SolanaTransactionSpecificDto": {
        "type": "object",
        "properties": {
          "miscJson": {
            "type": "string",
            "nullable": true,
            "description": "Raw chain-specific transaction data as JSON. Provisional \u2014 structure subject to change when SDK adds explicit Solana transaction fields."
          }
        },
        "required": [
          "miscJson"
        ]
      },
      "CandleDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The timestamp of the candle",
            "example": "2025-01-02T09:00:00.000Z"
          },
          "open": {
            "type": "number",
            "description": "The open price in the specified currency",
            "example": 1.25
          },
          "close": {
            "type": "number",
            "description": "The close price in the specified currency",
            "example": 1.3
          },
          "high": {
            "type": "number",
            "description": "The high price in the specified currency",
            "example": 1.35
          },
          "low": {
            "type": "number",
            "description": "The low price in the specified currency",
            "example": 1.2
          },
          "volume": {
            "type": "number",
            "description": "The volume in the specified currency",
            "example": 1625.58
          },
          "trades": {
            "type": "number",
            "description": "The number of swaps in this candle period",
            "example": 42
          }
        },
        "required": [
          "timestamp",
          "open",
          "close",
          "high",
          "low",
          "volume",
          "trades"
        ]
      },
      "MultiChainResponseMetaDto": {
        "type": "object",
        "properties": {
          "syncedAt": {
            "type": "object",
            "description": "Last sync block position for each chain in the response. The literal 'latest' indicates the chain is synced up to the latest block (no pinned block number available).",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            },
            "example": {
              "bitcoin": "latest"
            }
          },
          "unsupportedChains": {
            "description": "Requested chains that are not supported",
            "nullable": true,
            "example": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "failedChains": {
            "description": "Requested chains that are not supported",
            "nullable": true,
            "example": [],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainFailureDto"
            }
          }
        },
        "required": [
          "syncedAt",
          "unsupportedChains",
          "failedChains"
        ]
      },
      "UniversalDefiPositionDto": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "string",
            "example": "0x1"
          },
          "protocolId": {
            "type": "string"
          },
          "protocolName": {
            "type": "string"
          },
          "protocolUrl": {
            "type": "object",
            "nullable": true
          },
          "protocolLogo": {
            "type": "object",
            "nullable": true
          },
          "position": {
            "$ref": "#/components/schemas/UniversalDefiPositionBodyDto"
          }
        },
        "required": [
          "chainId",
          "protocolId",
          "protocolName",
          "position"
        ]
      },
      "UniversalDefiProtocolDto": {
        "type": "object",
        "properties": {
          "protocolId": {
            "type": "string"
          },
          "protocolName": {
            "type": "string"
          },
          "protocolUrl": {
            "type": "object",
            "nullable": true
          },
          "protocolLogo": {
            "type": "object",
            "nullable": true
          },
          "chainId": {
            "type": "string",
            "example": "0x1"
          },
          "totalUsd": {
            "type": "object",
            "nullable": true
          },
          "totalUnclaimedUsd": {
            "type": "object",
            "nullable": true
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UniversalDefiPositionBodyDto"
            }
          }
        },
        "required": [
          "protocolId",
          "protocolName",
          "chainId",
          "totalUsd",
          "totalUnclaimedUsd",
          "positions"
        ]
      },
      "DefiSummaryResultDto": {
        "type": "object",
        "properties": {
          "activeProtocols": {
            "type": "number"
          },
          "totalPositions": {
            "type": "number"
          },
          "totalUsd": {
            "type": "object",
            "nullable": true
          },
          "totalUnclaimedUsd": {
            "type": "object",
            "nullable": true
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DefiProtocolSummaryDto"
            }
          }
        },
        "required": [
          "activeProtocols",
          "totalPositions",
          "protocols"
        ]
      },
      "SwapsByPairAddressTokenMetadataDto": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "nullable": true,
            "example": "0x36a46dff597c5a444bbc521d26787f57867d2214"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "MAD"
          },
          "symbol": {
            "type": "string",
            "nullable": true,
            "example": "MAD"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "example": "https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png"
          },
          "decimals": {
            "type": "string",
            "nullable": true,
            "example": "18"
          }
        },
        "required": [
          "address",
          "name",
          "symbol",
          "logo",
          "decimals"
        ]
      },
      "SwapByPairAddressItemDto": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "nullable": true,
            "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"
          },
          "transactionType": {
            "type": "string",
            "nullable": true,
            "example": "sell"
          },
          "transactionIndex": {
            "type": "number",
            "nullable": true,
            "example": 250
          },
          "subCategory": {
            "type": "string",
            "example": "sellAll"
          },
          "blockTimestamp": {
            "type": "string",
            "nullable": true,
            "example": "2024-11-28T09:44:55.000Z"
          },
          "blockNumber": {
            "type": "number",
            "example": 304108120
          },
          "walletAddress": {
            "type": "string",
            "nullable": true,
            "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"
          },
          "walletAddressLabel": {
            "type": "string",
            "nullable": true,
            "example": "Murad Wallet"
          },
          "baseTokenAmount": {
            "type": "string",
            "nullable": true,
            "example": "199255.444466200"
          },
          "quoteTokenAmount": {
            "type": "string",
            "nullable": true,
            "example": "0.007374998"
          },
          "baseTokenPriceUsd": {
            "type": "number",
            "nullable": true,
            "example": 8.794e-06
          },
          "quoteTokenPriceUsd": {
            "type": "number",
            "nullable": true,
            "example": 237.60336565
          },
          "baseQuotePrice": {
            "type": "string",
            "nullable": true,
            "example": "0.0000000370127"
          },
          "totalValueUsd": {
            "type": "number",
            "nullable": true,
            "example": 1.752324346
          },
          "entityName": {
            "type": "string",
            "nullable": true,
            "example": "Murad"
          },
          "entityLogo": {
            "type": "string",
            "nullable": true,
            "example": "https://entities-logos.s3.us-east-1.amazonaws.com/murad.png"
          }
        },
        "required": [
          "transactionHash",
          "transactionType",
          "transactionIndex",
          "subCategory",
          "blockTimestamp",
          "blockNumber",
          "walletAddress",
          "walletAddressLabel",
          "baseTokenAmount",
          "quoteTokenAmount",
          "baseTokenPriceUsd",
          "quoteTokenPriceUsd",
          "baseQuotePrice",
          "totalValueUsd",
          "entityName",
          "entityLogo"
        ]
      },
      "SwapByTokenAddressItemDto": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "example": "0x2bfcba4715774420936669cd0ff2241d70e9abec"
          },
          "transactionIndex": {
            "type": "number",
            "example": 5
          },
          "transactionType": {
            "type": "string",
            "example": "buy"
          },
          "blockNumber": {
            "type": "number",
            "example": 12345678
          },
          "blockTimestamp": {
            "type": "string",
            "example": "2024-11-21T09:22:28.000Z"
          },
          "subCategory": {
            "type": "string",
            "example": "ACCUMULATION"
          },
          "walletAddress": {
            "type": "string",
            "example": "0x1c584a6baecb7c5d51caa0ef3a579e08bd49d4e5"
          },
          "walletAddressLabel": {
            "type": "string",
            "nullable": true,
            "example": "Murad Wallet"
          },
          "pairAddress": {
            "type": "string",
            "nullable": true,
            "example": "0xdded227d71a096c6b5d87807c1b5c456771aaa94"
          },
          "pairLabel": {
            "type": "string",
            "nullable": true,
            "example": "USDC/WETH"
          },
          "exchangeAddress": {
            "type": "string",
            "nullable": true,
            "example": "0x1080ee857d165186af7f8d63e8ec510c28a6d1ea"
          },
          "exchangeName": {
            "type": "string",
            "nullable": true,
            "example": "Uniswap"
          },
          "exchangeLogo": {
            "type": "string",
            "nullable": true,
            "example": "https://logo.moralis.io/0xe708_0xe5d7c2a44ffddf6b295a15c148167daaaf5cf34f_769a0b766bd3d6d1830f0a95d7b3e313"
          },
          "baseToken": {
            "type": "string",
            "nullable": true,
            "example": "ETH"
          },
          "quoteToken": {
            "type": "string",
            "nullable": true,
            "example": "USDT"
          },
          "bought": {
            "example": {
              "address": "0xe5d7c2a44ffddf6b295a15c148167daaaf5cf34f",
              "name": "Wrapped Ether",
              "symbol": "SYM",
              "logo": "https://example.com/logo-token1.png",
              "amount": "0.000014332429005002",
              "usdPrice": 3148.1828278180296,
              "usdAmount": 1230,
              "tokenType": "token1"
            },
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/SwapsByTokenAddressAmountDto"
              }
            ]
          },
          "sold": {
            "example": {
              "address": "0x176211869ca2b568f2a7d4ee941e073a821ee1ff",
              "name": "USDC",
              "symbol": "SYM",
              "logo": "https://example.com/logo-token2.png",
              "amount": "1000",
              "usdPrice": 0.9999999999999986,
              "usdAmount": -0.045138999999999936,
              "tokenType": "token0"
            },
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/SwapsByTokenAddressAmountDto"
              }
            ]
          },
          "baseQuotePrice": {
            "type": "string",
            "nullable": true,
            "example": "0.01"
          },
          "totalValueUsd": {
            "type": "number",
            "nullable": true,
            "example": 1230
          },
          "entityName": {
            "type": "string",
            "nullable": true,
            "example": "Murad"
          },
          "entityLogo": {
            "type": "string",
            "nullable": true,
            "example": "https://entities-logos.s3.us-east-1.amazonaws.com/murad.png"
          }
        },
        "required": [
          "transactionHash",
          "transactionIndex",
          "transactionType",
          "blockNumber",
          "blockTimestamp",
          "subCategory",
          "walletAddress",
          "walletAddressLabel",
          "pairAddress",
          "pairLabel",
          "exchangeAddress",
          "exchangeName",
          "exchangeLogo",
          "baseToken",
          "quoteToken",
          "bought",
          "sold",
          "baseQuotePrice",
          "totalValueUsd",
          "entityName",
          "entityLogo"
        ]
      },
      "NativePriceDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The formatted native price value",
            "example": "439,425,812.15"
          },
          "valueRaw": {
            "type": "string",
            "description": "The raw native price value (unformatted)",
            "example": "4394258121500000000"
          },
          "decimals": {
            "type": "number",
            "description": "The number of decimals",
            "example": 18
          },
          "name": {
            "type": "string",
            "description": "The name of the native token",
            "example": "Ether"
          },
          "symbol": {
            "type": "string",
            "description": "The symbol of the native token",
            "example": "ETH"
          }
        },
        "required": [
          "value",
          "valueRaw",
          "decimals",
          "name",
          "symbol"
        ]
      },
      "UpdatedAtDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The ISO 8601 timestamp of the last price update",
            "example": "2025-11-24T16:00:00.000Z"
          },
          "blockNumber": {
            "type": "number",
            "description": "The block number of the last price update",
            "example": 123456755
          }
        },
        "required": [
          "timestamp",
          "blockNumber"
        ]
      },
      "DexInformationDto": {
        "type": "object",
        "properties": {
          "exchangeName": {
            "type": "string",
            "description": "The name of the exchange",
            "example": "Uniswap v3"
          },
          "exchangeAddress": {
            "type": "string",
            "description": "The address of the exchange",
            "example": "0x1F98431c8aD98523631AE4a59f267346ea31F984"
          },
          "pairAddress": {
            "type": "string",
            "description": "The pair address",
            "example": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"
          },
          "pairLiquidityUsd": {
            "type": "number",
            "description": "The pair liquidity in USD",
            "example": 234567890.12
          }
        },
        "required": [
          "exchangeName",
          "exchangeAddress",
          "pairAddress",
          "pairLiquidityUsd"
        ]
      },
      "PriceTimeSeriesItemDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The timestamp of the price point in ISO-8601 format",
            "example": "2025-01-02T09:00:00.000Z"
          },
          "price": {
            "type": "string",
            "description": "The price in USD at this timestamp",
            "example": "0.00123"
          }
        },
        "required": [
          "timestamp",
          "price"
        ]
      },
      "ChainBalanceDto": {
        "type": "object",
        "properties": {
          "tokenAddress": {
            "type": "string",
            "description": "The token address",
            "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
          },
          "balanceRaw": {
            "type": "string",
            "description": "The balance",
            "example": "8541786218567066193031597821"
          },
          "chainId": {
            "type": "string",
            "description": "The chain id",
            "example": "bitcoin"
          },
          "name": {
            "type": "string",
            "description": "The name of the token",
            "example": "Tether USD",
            "nullable": true
          },
          "symbol": {
            "type": "string",
            "description": "The symbol of the token",
            "example": "USDT",
            "nullable": true
          },
          "decimals": {
            "type": "number",
            "description": "The decimals of the token",
            "example": 6,
            "nullable": true
          },
          "logo": {
            "type": "string",
            "description": "The logo of the token",
            "example": "https://logo.moralis.io/0x1_0xdac17f958d2ee523a2206206994597c13d831ec7_3b83ef2ba0dba0e3385a845032e48304.webp"
          },
          "possibleSpam": {
            "type": "boolean",
            "description": "If the token is a spam contract",
            "example": false
          },
          "verifiedContract": {
            "type": "boolean",
            "description": "If the token is a verified contract",
            "example": true
          },
          "balance": {
            "type": "string",
            "description": "The formatted balance of the token",
            "example": "8541786218567066193031.597821",
            "nullable": true
          },
          "securityScore": {
            "type": "number",
            "description": "The security score of the token",
            "example": 99,
            "nullable": true
          },
          "portfolioPercentage": {
            "type": "number",
            "description": "The percentage of token relative to wallet's portfolio",
            "example": 100,
            "nullable": true
          },
          "usdPrice": {
            "type": "number",
            "description": "The token in USD price",
            "example": 1,
            "nullable": true
          },
          "usdPrice24hrUsdChange": {
            "type": "number",
            "description": "The token 24hr change in USD price",
            "example": 0,
            "nullable": true
          },
          "usdPrice24hrPercentChange": {
            "type": "number",
            "description": "The token 24hr change in USD price percent",
            "example": 0,
            "nullable": true
          },
          "usdValue": {
            "type": "number",
            "description": "The balance in USD price",
            "example": 1,
            "nullable": true
          },
          "usdValue24hrUsdChange": {
            "type": "number",
            "description": "The balance 24hr change in USD price",
            "example": 0,
            "nullable": true
          },
          "nativeToken": {
            "type": "boolean",
            "description": "If the token is a native token",
            "example": false
          },
          "derivedAddress": {
            "type": "string",
            "description": "The derived Bitcoin address (only present for xpub token balance queries)",
            "example": "1EfgV2Hr5CDjXPavHDpDMjmU33BA2veHy6",
            "nullable": true
          },
          "derivedPath": {
            "type": "string",
            "description": "The BIP44 derivation path (only present for xpub token balance queries)",
            "example": "m/44'/0'/0'/0/0",
            "nullable": true
          }
        },
        "required": [
          "tokenAddress",
          "balanceRaw",
          "chainId",
          "name",
          "symbol",
          "decimals",
          "logo",
          "possibleSpam",
          "verifiedContract",
          "balance",
          "securityScore",
          "portfolioPercentage",
          "usdPrice",
          "usdPrice24hrUsdChange",
          "usdPrice24hrPercentChange",
          "usdValue",
          "usdValue24hrUsdChange",
          "nativeToken",
          "derivedAddress",
          "derivedPath"
        ]
      },
      "WalletHistoryItemDto": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "string",
            "description": "Chain ID (e.g. \"bitcoin\")",
            "example": "bitcoin"
          },
          "block": {
            "description": "Block information",
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletHistoryBlockDto"
              }
            ]
          },
          "transaction": {
            "description": "Transaction information with transfers and enrichment",
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletHistoryTransactionDto"
              }
            ]
          },
          "raw": {
            "description": "Bitcoin raw transaction data",
            "type": "object",
            "properties": {
              "bitcoin": {
                "$ref": "#/components/schemas/WalletHistoryBitcoinRawDto"
              }
            },
            "required": [
              "bitcoin"
            ]
          },
          "meta": {
            "type": "object",
            "description": "Extensible metadata placeholder (Universal API convention)",
            "example": {}
          }
        },
        "required": [
          "chainId",
          "block",
          "transaction",
          "raw",
          "meta"
        ]
      },
      "WalletHistoryMetaDto": {
        "type": "object",
        "properties": {
          "syncedAt": {
            "type": "object",
            "description": "Per-chain indexed block height (-1 while real sync metadata is unavailable)",
            "example": {
              "bitcoin": "latest"
            }
          },
          "unsupportedChains": {
            "description": "Chain IDs that were requested but are not supported (null when all chains supported)",
            "nullable": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "failedChains": {
            "description": "Chain IDs where fetching failed (null when no failures occurred)",
            "nullable": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "missingTransactions": {
            "type": "object",
[...]
