{"openapi":"3.0.0","paths":{"/challenge/request/evm":{"post":{"operationId":"requestChallengeEvm","x-tag-sdk":"challenge","summary":"Request EVM challenge","parameters":[],"requestBody":{"required":true,"description":"Request EVM challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvmChallengeRequestDto"}}}},"responses":{"201":{"description":"The back channel challenge containing the id to store on the api and the message to be signed by the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvmChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/challenge/verify/evm":{"post":{"operationId":"verifyChallengeEvm","x-tag-sdk":"challenge","summary":"Verify EVM challenge","parameters":[],"requestBody":{"required":true,"description":"Verify EVM challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvmCompleteChallengeRequestDto"}}}},"responses":{"201":{"description":"The token to be used to call the third party API from the client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvmCompleteChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/challenge/request/solana":{"post":{"operationId":"requestChallengeSolana","x-tag-sdk":"challenge","summary":"Request Solana challenge","parameters":[],"requestBody":{"required":true,"description":"Request Solana challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolanaChallengeRequestDto"}}}},"responses":{"201":{"description":"The back channel challenge containing the id to store on the api and the message to be signed by the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolanaChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/challenge/verify/solana":{"post":{"operationId":"verifyChallengeSolana","x-tag-sdk":"challenge","summary":"Verify Solana challenge","parameters":[],"requestBody":{"required":true,"description":"Verify Solana challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolanaCompleteChallengeRequestDto"}}}},"responses":{"201":{"description":"The token to be used to call the third party API from the client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolanaCompleteChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/challenge/request/aptos":{"post":{"operationId":"requestChallengeAptos","x-tag-sdk":"challenge","summary":"Request Aptos challenge","parameters":[],"requestBody":{"required":true,"description":"Request Aptos challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AptosChallengeRequestDto"}}}},"responses":{"201":{"description":"The back channel challenge containing the id to store on the api and the message to be signed by the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AptosChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/challenge/verify/aptos":{"post":{"operationId":"verifyChallengeAptos","x-tag-sdk":"challenge","summary":"Verify Aptos challenge","parameters":[],"requestBody":{"required":true,"description":"Verify Aptos challenge message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AptosCompleteChallengeRequestDto"}}}},"responses":{"201":{"description":"The token to be used to call the third party API from the client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AptosCompleteChallengeResponseDto"}}}}},"tags":["Challenge"],"security":[{"ApiKeyAuth":[]}]}},"/profile/{profileId}/addresses":{"get":{"operationId":"getAddresses","x-tag-sdk":"profile","summary":"Get addresses that are bound to the specific profileId","parameters":[{"name":"profileId","required":true,"in":"path","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1","schema":{"type":"string"}}],"responses":{"201":{"description":"The addresses that are bound to the speicifc profileId","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}},"tags":["Profile"],"security":[{"ApiKeyAuth":[]}]}},"/bind/request":{"post":{"operationId":"requestBind","x-tag-sdk":"bind","summary":"Request bind between profile of two addresses","description":"Request for message to bind profile that is belong to the two addresses<br>\n        All profiles under the addresses will be bound and new profile will be generated.","parameters":[],"requestBody":{"required":true,"description":"The two addresses that are required to be bind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindRequestDto"}}}},"responses":{"201":{"description":"The messages that is required to be signed by each of the address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindRequestResponseDto"}}}}},"tags":["Bind"],"security":[{"ApiKeyAuth":[]}]}},"/bind/request/verify":{"post":{"operationId":"verifyRequestBind","x-tag-sdk":"bind","summary":"Verify bind request","parameters":[],"requestBody":{"required":true,"description":"Messages and its signatures that is used for verification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindVerifyRequestDto"}}}},"responses":{"201":{"description":"The profileId that all the addresses have been bind into.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindVerifyRequestResponseDto"}}}}},"tags":["Bind"],"security":[{"ApiKeyAuth":[]}]}},"/bind/remove":{"post":{"operationId":"removeBind","x-tag-sdk":"bind","summary":"Request to remove bind of an address from a profile","parameters":[],"requestBody":{"required":true,"description":"The address that is required to be removed from the bind of the profileId.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindRemoveDto"}}}},"responses":{"201":{"description":"The messages that is required to be signed by each of the address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindRemoveResponseDto"}}}}},"tags":["Bind"],"security":[{"ApiKeyAuth":[]}]}},"/bind/remove/verify":{"post":{"operationId":"verifyRemoveBind","x-tag-sdk":"bind","summary":"Verify remove bind request","parameters":[],"requestBody":{"required":true,"description":"Messages and its signatures that is used for verification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindVerifyRemoveDto"}}}},"responses":{"201":{"description":"The new profileId that is being generated for this address.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindVerifyRemoveResponseDto"}}}}},"tags":["Bind"],"security":[{"ApiKeyAuth":[]}]}}},"info":{"title":"Auth API","description":"API that provides authentication services for dapps.","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://authapi.moralis.io"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key"}},"schemas":{"EvmChallengeRequestDto":{"type":"object","properties":{"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by new lines.","type":"array","items":{"type":"string"}},"timeout":{"type":"number","minimum":15,"default":15,"maximum":120,"example":15,"description":"Time in seconds before the challenge is expired"},"chainId":{"type":"string","enum":["1","5","10","25","56","97","100","137","250","338","420","1284","1285","1287","1337","8453","10200","43113","43114","80001","80002","84531","88882","88888","11155111"],"example":1,"description":"EIP-155 Chain ID to which the session is bound, and the network where Contract Accounts must be resolved."},"address":{"type":"string","example":"0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B","description":"Ethereum address performing the signing conformant to capitalization encoded checksum specified in EIP-55 where applicable."}},"required":["domain","uri","timeout","chainId","address"]},"EvmChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrXa","pattern":"^[a-zA-Z0-9]{8,64}$"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"defi.finance wants you to sign in with your Ethereum account:\n0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B\n\nPlease confirm\n\nURI: https://defi.finance/\nVersion: 1\nChain ID: 1\nNonce: DbU1DCTmdzR4lg3wi\nIssued At: 2022-06-12T12:15:31.290Z\nExpiration Time: 2020-01-01T00:00:00.000Z\nNot Before: 2020-01-01T00:00:00.000Z\nResources:\n- https://docs.moralis.io/"}},"required":["id","profileId","message"]},"EvmCompleteChallengeRequestDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user.","example":"defi.finance wants you to sign in with your Ethereum account:\n0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B\n\n\nURI: https://defi.finance\nVersion: 1\nChain ID: 1\nNonce: Px7Nh1RPzlCLwqgOb\nIssued At: 2022-11-30T10:20:00.262Z"},"signature":{"type":"string","description":"EIP-191 compliant signature signed by the Ethereum account address requesting authentication.","example":"0xa8f89a58bf9b433d3100f9e41ee35b5e31fb8c7cd62547acb113162ec6f2e4140207e2dfbd4e387e1801ebc7f08a9dd105ac1d22b2e2ff0df5fa8b6d9bdcfe491c"}},"required":["message","signature"]},"EvmCompleteChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrX","pattern":"^[a-zA-Z0-9]{8,64}$"},"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by `\n- `.","type":"array","items":{"type":"string"}},"version":{"type":"string","example":"1.0","description":"EIP-155 Chain ID to which the session is bound, and the network where Contract Accounts must be resolved."},"nonce":{"type":"string","example":"0x1234567890abcdef0123456789abcdef1234567890abcdef"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"chainId":{"type":"string","enum":["1","5","10","25","56","97","100","137","250","338","420","1284","1285","1287","1337","8453","10200","43113","43114","80001","80002","84531","88882","88888","11155111"],"example":1,"description":"EIP-155 Chain ID to which the session is bound, and the network where Contract Accounts must be resolved."},"address":{"type":"string","example":"0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B","description":"Ethereum address performing the signing conformant to capitalization encoded checksum specified in EIP-55 where applicable."}},"required":["id","domain","uri","version","nonce","profileId","chainId","address"]},"SolanaChallengeRequestDto":{"type":"object","properties":{"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by new lines.","type":"array","items":{"type":"string"}},"timeout":{"type":"number","minimum":15,"default":15,"maximum":120,"example":15,"description":"Time in seconds before the challenge is expired"},"network":{"type":"string","enum":["mainnet","testnet","devnet"],"example":"mainnet","description":"The network where Contract Accounts must be resolved."},"address":{"type":"string","example":"26qv4GCcx98RihuK3c4T6ozB3J7L6VwCuFVc7Ta2A3Uo","description":"Solana address with a length of 32 - 44 characters that is used to perform the signing"}},"required":["domain","uri","timeout","network","address"]},"SolanaChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrXa","pattern":"^[a-zA-Z0-9]{8,64}$"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"defi.finance wants you to sign in with your Solana account:\n26qv4GCcx98RihuK3c4T6ozB3J7L6VwCuFVc7Ta2A3Uo\n\nI am a third party API\n\nURI: http://defi.finance\nVersion: 1\nNetwork: mainnet\nNonce: PYxxb9msdjVXsMQ9x\nIssued At: 2022-08-25T11:02:34.097Z\nExpiration Time: 2022-08-25T11:12:38.243Z\nResources:\n- https://docs.moralis.io/"}},"required":["id","profileId","message"]},"SolanaCompleteChallengeRequestDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"defi.finance wants you to sign in with your Solana account:\n26qv4GCcx98RihuK3c4T6ozB3J7L6VwCuFVc7Ta2A3Uo\n\nI am a third party API\n\nURI: http://defi.finance\nVersion: 1\nNetwork: mainnet\nNonce: PYxxb9msdjVXsMQ9x\nIssued At: 2022-08-25T11:02:34.097Z\nExpiration Time: 2022-08-25T11:12:38.243Z\nResources:\n- https://docs.moralis.io/"},"signature":{"type":"string","description":"Base58 signature that needs to be used to verify end user","example":"2pH9DqD5rve2qV4yBDshcAjWd2y8TqMx8BPb7f3KoNnuLEhE5JwjruYi4jaFaD4HN6wriLz2Vdr32kRBAJmHcyny"}},"required":["message","signature"]},"SolanaCompleteChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrX","pattern":"^[a-zA-Z0-9]{8,64}$"},"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by `\n- `.","type":"array","items":{"type":"string"}},"version":{"type":"string","example":"1.0","description":"EIP-155 Chain ID to which the session is bound, and the network where Contract Accounts must be resolved."},"nonce":{"type":"string","example":"0x1234567890abcdef0123456789abcdef1234567890abcdef"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"network":{"type":"string","enum":["mainnet","testnet","devnet"],"example":"mainnet","description":"The network where Contract Accounts must be resolved."},"address":{"type":"string","example":"26qv4GCcx98RihuK3c4T6ozB3J7L6VwCuFVc7Ta2A3Uo","description":"Solana address with a length of 32 - 44 characters that is used to perform the signing"}},"required":["id","domain","uri","version","nonce","profileId","network","address"]},"AptosChallengeRequestDto":{"type":"object","properties":{"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by new lines.","type":"array","items":{"type":"string"}},"timeout":{"type":"number","minimum":15,"default":15,"maximum":120,"example":15,"description":"Time in seconds before the challenge is expired"},"network":{"type":"string","enum":["mainnet","testnet"],"example":"mainnet","description":"The network where Contract Accounts must be resolved."},"address":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Aptos address performing the signing conformant."},"publicKey":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Aptos public key performing the signing conformant."}},"required":["domain","uri","timeout","network","address","publicKey"]},"AptosChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrXa","pattern":"^[a-zA-Z0-9]{8,64}$"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"defi.finance wants you to sign in with your Aptos account:\n0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d\n\nPlease confirm\n\nURI: https://defi.finance/\nVersion: 1\nChain ID: 1\nNonce: DbU1DCTmdzR4lg3wi\nIssued At: 2022-06-12T12:15:31.290Z\nExpiration Time: 2020-01-01T00:00:00.000Z\nNot Before: 2020-01-01T00:00:00.000Z\nResources:\n- https://docs.moralis.io/"}},"required":["id","profileId","message"]},"AptosCompleteChallengeRequestDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user.","example":"defi.finance wants you to sign in with your Aptos account:\n0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d\n\n\nURI: https://defi.finance\nVersion: 1\nChain ID: 1\nNonce: Px7Nh1RPzlCLwqgOb\nIssued At: 2022-11-30T10:20:00.262Z"},"signature":{"type":"string","description":"EIP-191 compliant signature signed by the Aptos account address requesting authentication.","example":"0xa8f89a58bf9b433d3100f9e41ee35b5e31fb8c7cd62547acb113162ec6f2e4140207e2dfbd4e387e1801ebc7f08a9dd105ac1d22b2e2ff0df5fa8b6d9bdcfe491c"}},"required":["message","signature"]},"AptosCompleteChallengeResponseDto":{"type":"object","properties":{"id":{"type":"string","maxLength":64,"minLength":8,"description":"17-characters Alphanumeric string Secret Challenge ID used to identify this particular request. Is should be used at the backend of the calling service to identify the completed request.","example":"fRyt67D3eRss3RrX","pattern":"^[a-zA-Z0-9]{8,64}$"},"domain":{"type":"string","description":"RFC 4501 dns authority that is requesting the signing.","example":"defi.finance","format":"hostname"},"statement":{"type":"string","description":"Human-readable ASCII assertion that the user will sign, and it must not contain `\n`.","example":"Please confirm"},"uri":{"type":"string","format":"uri","example":"https://defi.finance/","description":"RFC 3986 URI referring to the resource that is the subject of the signing (as in the __subject__ of a claim)."},"expirationTime":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message is no longer valid."},"notBefore":{"type":"string","format":"date-time","example":"2020-01-01T00:00:00.000Z","description":"ISO 8601 datetime string that, if present, indicates when the signed authentication message will become valid."},"resources":{"example":["https://docs.moralis.io/"],"description":"List of information or references to information the user wishes to have resolved as part of authentication by the relying party. They are expressed as RFC 3986 URIs separated by `\n- `.","type":"array","items":{"type":"string"}},"version":{"type":"string","example":"1.0","description":"EIP-155 Chain ID to which the session is bound, and the network where Contract Accounts must be resolved."},"nonce":{"type":"string","example":"0x1234567890abcdef0123456789abcdef1234567890abcdef"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"},"network":{"type":"string","enum":["mainnet","testnet"],"example":"mainnet","description":"The network where Contract Accounts must be resolved."},"address":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Aptos address performing the signing conformant."},"publicKey":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Aptos public key performing the signing conformant."}},"required":["id","domain","uri","version","nonce","profileId","network","address","publicKey"]},"AddressInfoDto":{"type":"object","properties":{"blockchainType":{"type":"string","enum":["evm","solana","aptos"],"description":"The chain in which the address belongs to","example":"evm"},"address":{"type":"string","description":"Address performing the signing conformant to capitalization encoded checksum specified in EIP-55 where applicable.","example":"0x57af6B90c2237d2F888bf4CAe56f25FE1b14e531"},"publicKey":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Public key performing the signing conformant. (This is only needed for Aptos address)"}},"required":["blockchainType","address"]},"BindRequestDto":{"type":"object","properties":{"addresses":{"description":"An array of addresses that needs to be bind","minItems":2,"maxItems":2,"type":"array","items":{"$ref":"#/components/schemas/AddressInfoDto"}}},"required":["addresses"]},"BindRequestResponseDto":{"type":"object","properties":{"messages":{"description":"Message that needs to be signed by the end user","example":["Please sign this message to bind:\nProfile Ids:\n- 0x0b2bbac1251651c0cbbdbbb29fed5a03adc8b05a2a9eb10a02aaa489b9c1f8ff\n\nwith\n\nAddress: 0x6ed338bcB610640e81465FCfb9894DDfA354Cc91\nNonce: 5pXWu7aGkY2J7II0X","Please sign this message to bind:\nProfile Ids:\n- 0x0b2bbac1251651c0cbbdbbb29fed5a03adc8b05a2a9eb10a02aaa489b9c1f8ff\n\nwith\n\nAddress: 0x6ed338bcB610640e81465FCfb9894DDfA354Cc91\nNonce: 5pXWu7aGkY2J7II0X"],"type":"array","items":{"type":"string"}}},"required":["messages"]},"VerificationDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"Please sign this message to bind:\nProfile Ids:\n- 0x0b2bbac1251651c0cbbdbbb29fed5a03adc8b05a2a9eb10a02aaa489b9c1f8ff\n\nwith\n\nAddress: 0x6ed338bcB610640e81465FCfb9894DDfA354Cc91\nNonce: 5pXWu7aGkY2J7II0X"},"signature":{"type":"string","description":"EIP-191 compliant signature signed by the Ethereum account address requesting authentication.","example":"0xc4f2f59d80e036ecab4eaaac5d4ee713ab94264ca584839c98b5743c4f6777322038225a4bc1e0f13b8382166816737369f26bd66f0479cfa80d4c52c02eb2cb1b"}},"required":["message","signature"]},"BindVerifyRequestDto":{"type":"object","properties":{"verifications":{"description":"Message that needs to be signed by the end user","minItems":2,"maxItems":2,"type":"array","items":{"$ref":"#/components/schemas/VerificationDto"}}},"required":["verifications"]},"BindVerifyRequestResponseDto":{"type":"object","properties":{"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"}},"required":["profileId"]},"BindRemoveDto":{"type":"object","properties":{"blockchainType":{"type":"string","enum":["evm","solana","aptos"],"description":"The chain in which the address belongs to","example":"evm"},"address":{"type":"string","description":"Address performing the signing conformant to capitalization encoded checksum specified in EIP-55 where applicable.","example":"0x57af6B90c2237d2F888bf4CAe56f25FE1b14e531"},"publicKey":{"type":"string","example":"0xfb2853744bb8afd58d9386d1856afd8e08de135019961dfa3a10d8c9bf83b99d","description":"Public key performing the signing conformant. (This is only needed for Aptos address)"},"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"}},"required":["blockchainType","address","profileId"]},"BindRemoveResponseDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"Please sign this message to unbind:\nAddress: 0x6ed338bcB610640e81465FCfb9894DDfA354Cc91\nfrom\nProfile Id:\n- 0x0b2bbac1251651c0cbbdbbb29fed5a03adc8b05a2a9eb10a02aaa489b9c1f8ff\nNonce: 5pXWu7aGkY2J7II0X"}},"required":["message"]},"BindVerifyRemoveDto":{"type":"object","properties":{"message":{"type":"string","description":"Message that needs to be signed by the end user","example":"Please sign this message to unbind:\nAddress: 0x6ed338bcB610640e81465FCfb9894DDfA354Cc91\nfrom\nProfile Id:\n- 0x0b2bbac1251651c0cbbdbbb29fed5a03adc8b05a2a9eb10a02aaa489b9c1f8ff\nNonce: 5pXWu7aGkY2J7II0X"},"signature":{"type":"string","description":"EIP-191 compliant signature signed by the Ethereum account address requesting authentication.","example":"0xc4f2f59d80e036ecab4eaaac5d4ee713ab94264ca584839c98b5743c4f6777322038225a4bc1e0f13b8382166816737369f26bd66f0479cfa80d4c52c02eb2cb1b"}},"required":["message","signature"]},"BindVerifyRemoveResponseDto":{"type":"object","properties":{"profileId":{"type":"string","description":"Unique identifier with a length of 66 characters","example":"0xbfbcfab169c67072ff418133124480fea02175f1402aaa497daa4fd09026b0e1"}},"required":["profileId"]}}},"externalDocs":{"description":"View as JSON","url":"../api-docs-json"}}